[2017-03-24 18:24] atifaziz opened #1 "Roslyn 2.0 support"
Unless it's already planned, it would be great to see support for Roslyn 2.0 added so one can use C# 7 with ASP.NET.

[2017-03-27 17:31] Jinhuafei commented on #1
Thanks for the feedback.  We will consider it in the future release. For now, please use Microsoft.Net.Compilers 2.0+ nupkg in your project and you should good to go.

[2017-03-30 12:43] atifaziz commented on #1
@Jinhuafei Thanks for the hint about using Microsoft.Net.Compilers 2.x. Worked like a charm. ✨

[2017-04-06 21:34] Jinhuafei opened #2 "Fail to copy Roslyn compiler bits to the right location on build server"
See [SO issue](http://stackoverflow.com/questions/32780315/could-not-find-a-part-of-the-path-bin-roslyn-csc-exe).

[2017-05-03 05:01] Jinhuafei commented on #1
@atifaziz 1.0.4 version was released on Nuget. You can upgrade the package and you can use C# 7 in your project without any manual step. BTW, your project needs to be targeting to .net 4.6 and above, since Roslyn compiler 2.0 requires .net 4.6.

[2017-05-03 06:23] atifaziz commented on #1
@Jinhuafei That's great news & thanks!

[2017-05-03 06:23] #1 closed

[2017-05-19 08:23] vascofernandes commented on #2
Also affected by this problem.

[2017-05-30 14:40] niemyjski commented on #2
I'm also affected by this. I need to be able to control the path.

[2017-05-30 16:10] ejsmith commented on #2
Actually, my question is why do we even need to shell csc.exe in the 1st place? Why can't we just use the Roslyn API to compile the code?

[2017-05-30 16:31] niemyjski opened #5 "CodeDomProvider compile in memory?"
Is there any specific reasons that the the code dom providers shell the compiler instead of using roslyn to compile the assembly in process?

[2017-05-30 17:05] Jinhuafei commented on #2
@ejsmith DotNetCompilerPlatform is for runtime compilation(e.g. aspx/cshtml/global.asax etc..). It is implemented as a [language provider](https://msdn.microsoft.com/en-us/library/k6bttwes(v=vs.110).aspx) which is the only way asp.net provides to do the runtime compilation.

[2017-05-30 17:21] niemyjski commented on #2
@Jinhuafei Yes, we get that, but it's implemented as a code Dom provider which just shells the compiler with command line arguments. What we are asking is why doesn't the code dom provider just compile in process using roslyn instead of shelling it.

[2017-05-30 17:28] davidfowl commented on #2
The problem was controlling the memory allocated by the compiler in certain cases. There are some generated code patterns that the aspx code generator generates that cause the Roslyn compiler to either stackoverflow or run out of memory parsing. The only way to fix that was to run then compiler out of process (since there were no changes being made to code gen)

[2017-05-30 17:37] ejsmith commented on #2
@davidfowl that makes sense. Is ASPNET Core still taking the out of process approach as well then?

[2017-05-30 17:39] Jinhuafei commented on #2
David is right. We tried both, and out-proc compilation model works better. Besides what David mentioned, we also saw working set increment in w3wp process when using in-proc compilation.

[2017-05-31 13:33] davidfowl commented on #2
We discussed it but haven't built in the infrastructure to make that work as well as ASP.NET (see ASP.NET Temporary Files). We also changed some of the code generation patterns in Razor to help the issue a bit. On top of that, we also now pre-compile views by default in on publish so your production site should never really be using roslyn at runtime.

[2017-06-05 06:58] ranuka2 opened #6 "Pre compile ASP.NET web application with roslyn"
I'm developing a Visual Studio 2015 extension which need to to pre compile a selected .aspx file and emit the output to a target location. The compiled binary will be submitted to a service for analysis. Is it possible to Roslyn compiler platform to pre-compile a single .aspx file? If so, Please let me know the high level steps.

[2017-06-12 18:05] Jinhuafei commented on #6
Asp.net generates code for aspx page and groups them by folder and eventually pass the generated code file to RoslynCodeDomProvider which compiles them to assemblies.

[2017-06-12 18:07] Jinhuafei commented on #5
Copied from the other thread.

The problem was controlling the memory allocated by the compiler in certain cases. There are some generated code patterns that the aspx code generator generates that cause the Roslyn compiler to either stackoverflow or run out of memory parsing. The only way to fix that was to run then compiler out of process (since there were no changes being made to code gen)

We t

[2017-06-14 16:33] niemyjski opened #8 "VBCompiler.CompileAssemblyFromFileBatch() is modifying the passed in CompilerOptions"
I was using the legacy VB CodeDom provider to generate VB Code and compile it on the fly for our app. It was working great but we wanted to support newer language features so we brought in the latest Roslyn Code Dom provider via nuget... The change was simple and our c# implementation works flawlessly but I can't even compile the simplest sample due to the VBCompiler is injecting unwanted/invalid

[2017-06-14 22:08] Jinhuafei commented on #8
@jaredpar /define:_MYTYPE="Web" has been there for years, and it's been working with legacy vbc.exe without any issue and @niemyjski didn't see any issue with old one. It looks like the issue in new vbc.exe.

[2017-06-14 22:53] #5 closed

[2017-06-16 20:34] Jinhuafei commented on #8
@niemyjski would you please share some code snippet to repro the issue?

[2017-06-16 20:59] niemyjski commented on #8
It's kind of complicated to break down down from what we do. Basically the process is simple, we build up a list of references, source files (created from a compilation unit (code pasted below) and compiler options and we build up the compiler context and then call the method above to generate an assembly from the generated source code from the previous step (we've been doing this for over a decad

[2017-06-28 19:01] jbagga opened #9 "Consider replacing GetTempFileName with GetTempPath and GetRandomFileName"
Consider removing use of `GetTempFileName` as

The tests CommonCodeDomProviderTests use `GetTempFileName`

See aspnet/Coherence-Signed#510 for more information.

cc @Eilon

[2017-07-03 19:48] SchmittDotNet opened #10 ""Access to path denied" error"
Using Microsoft.CodeDom.Providers.DotNetCompilerPlatform v1.0.5 in a Web API application targeting .NET 4.6.1 causes errors on rebuilding after the solution has been run in debugger:

Unable to copy file "C:\Code\Sdn\ODataService\packages\Microsoft.Net.Compilers.2.2.0\tools\System.Reflection.Metadata.dll" to "bin\roslyn\System.Reflection.Metadata.dll". Access to the path 'bin\roslyn\System.Reflect

[2017-07-05 20:20] Eilon commented on #9
@Jinhuafei - this can make test code flaky, which is also a problem. Totally up to your team whether you want to fix.

[2017-07-06 17:34] Jinhuafei commented on #10
Codedom provider leverages Roslyn compilation service(VBCSCompiler.exe) to compile the dynamically generated code. In 1.0.5 release, we increased the idle time of VBCSCompiler.exe from 10 sec to 10 mins to improve the startup performance in VS environment. Since those files are being used by VBCSCompiler.exe process, the copy fails. To workaround the issue, you can kill VBCSCompiler.exe process be

[2017-07-06 17:35] #9 closed

[2017-07-06 17:36] #6 closed

[2017-07-06 19:16] Jinhuafei commented on #8
@niemyjski  _MYTYPE is added to support [this feature](https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/customizing-extending-my/customizing-which-objects-are-available-in-my), and compiler does some tricks to support it. RoslynCodeDomProvider is mainly for compiling the code dynamically generated by asp.net, that's why we set _MYTYPE to "web".

I used old vb.net compiler to co

[2017-07-06 22:00] niemyjski commented on #8
We are not adding a reference to system.web and have no plans to. We are using this in a desktop app for code generation. It would be great if this was made generic and didn't make any assumptions like a generic nuget package required to reference system.web and was actually owned by the .net team.

[2017-07-06 23:20] Jinhuafei commented on #8
We will consider your suggestion.

[2017-07-07 01:24] niemyjski commented on #8
How can you consider it if the issue is closed?

[2017-07-07 16:58] Jinhuafei commented on #8
I added enhancement tag and clicked the wrong button. :)

[2017-08-04 16:36] Jinhuafei commented on #2
The fix is included in 1.0.6 release

[2017-08-04 16:36] #2 closed

[2017-08-04 16:37] Jinhuafei commented on #10
The fix is included in 1.0.6 release.

[2017-08-04 16:37] #10 closed

[2017-08-06 19:52] onyxmaster opened #13 "Roslyn binaries not copied properly on publish in 1.0.6"
Using web publish from VS 2015 fails with the following:
[code]
Rolling back to 1.0.5 works.
I believe that the fix for #2 broke the web publish scenario at least with VS 2015.

This is a local path web publish with the following settings:
[code]

[2017-08-06 23:08] ThomasPrioul commented on #13
I have experienced problems too with 1.0.6 on a full .NET app using Roslyn compiler for scripting purposes.
The roslyn binaries get copied to "D:\bin\" instead of "D:\Path\To\Project\Output\bin\roslyn"...
Took me a while to figure out where they were copied to.

[2017-08-07 16:32] Jinhuafei commented on #13
Thanks for reporting the issue. I'll take a look.

[2017-08-09 02:59] stephenpatten commented on #13
@Jinhuafei , Is this resolved? Looks like you referenced another ticket that refers back to this one.. Thank you

[2017-08-09 16:13] Jinhuafei commented on #13
Sent [PR 14](https://github.com/aspnet/RoslynCodeDomProvider/pull/14)

[2017-08-09 16:27] KarlZ commented on #13
@onyxmaster You're picture made my day... To me it looks like an expression of, "Come'on, REALLY?" (Which is certainly how I feel now...)

[2017-08-13 03:36] nicholasyin commented on #13
Had the same issue. Downgrading to 1.0.5 works. thanks guys.

[2017-08-13 13:50] chadik79 commented on #13
Having the same problem, downgrading to 1.0.5 works

[2017-08-14 20:27] robk410 commented on #13
whatever this issue is, it has totally hosed our build. Even after rolling back, I still get an error about not being able to find 1.0.6 assembly. Changed build to clean source and directories and it still happens. Out of options here. Fix ASAP.

[2017-08-14 20:31] vdevappa commented on #13
I have seen issues where on the build server, for some reason unless you delete the downloaded source code, it keeps old files. Delete manually and then try to rebuild again.

[2017-08-14 20:36] robk410 commented on #13
Yeah, it was the web.config that was the hold up. Roll back to 1.0.5 does work for me now. VS2k15u3

[2017-08-14 20:57] ricardag commented on #13
Happens here with **VS2017 15.2 (26430.16) Release** when publishing to file, and "**Precompile during publishing**" is checked. If we uncheck this option, the publish succeeds.

Not on all publishing, just some profiles. And deleting/recreating profile doesn't helps.

[2017-08-15 11:57] TheDestinyGroup commented on #13
Hi,

I had started a question on this last week over on Stack Overflow.

It can be found at:

https://stackoverflow.com/questions/45538776/v1-0-6-of-microsoft-codedom-providers-dotnetcompilerplatform/

Rohit submitted an answer to my question with a work-around.

The issue appears to lie with the Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props file in the build\net45 directory.

Hopefully

[2017-08-15 16:22] Jinhuafei commented on #13
@TheDestinyGroup If you can't wait for the new release, you can copy the CS in [this PR](https://github.com/aspnet/RoslynCodeDomProvider/pull/14) to workaround the issue for now.

[2017-08-16 01:32] sherif-elmetainy commented on #13
Had same problem. Downgrading to 1.0.5 worked.

[2017-08-16 15:16] ScottRFrost commented on #13
Same issue here.  .csproj created in VS2017 that had never touched VS2015.  Like others, uninstalling and then installing 1.0.5 worked.

1.0.6 should probably be pulled from nuget.

[2017-08-16 15:37] TheConservativeCoder opened #16 "VB.NET Project Langversion:default giving 'VB 12 does not support nameof expression'"
Hi,

I have an asp.net mvc application written in vb.net and I have the latest **1.0.6** `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` nuget package installed and in some of my views that use newer language features such as string interpolation and nameof I get the squiggleys like `Visual Basic 12.0 does not support error nameof expression`. The views seem to work fine when I run the web ap

[2017-08-17 14:38] IvanAlekseev commented on #13
We have the same issue with 1.0.7.
1.0.5 works fine

[2017-08-17 16:10] Jinhuafei commented on #13
@IvanAlekseev can you give us more details? We tested 1.0.7 version with all the publishing scenarios in VS and didn't see any issue.

[2017-08-17 16:14] erincerol commented on #13
@Jinhuafei We have used via VSTS App Service Publish and Azure App Service GitHub deployment. Both have the same issue.

[2017-08-17 16:18] Jinhuafei commented on #13
@erincerol thanks. I'll take a look.

[2017-08-17 16:26] RyanCEI commented on #13
FWIW I had exactly the same problem using VS Azure Publish.  I uninstalled 1.0.5 directly then installed 1.0.7 clean back into the project and it fixed the problem.

I don't think it's the publish method but rather the copying of the compiler into the publish directory that is failing.  Runs fine locally even if the pub is broken.  I have diff's of my csproj, packages.config and web.config that I

[2017-08-17 16:31] antisniperspy commented on #13
1.0.7 Fixed the issue for me in team services. Thanks

[2017-08-17 17:48] Jinhuafei opened #17 "Publish issue in 1.0.7 release"
Looks like 1.0.7 didn't fix all the publish issue. So far the following publish methods are still not working.
- OctoPack                                                          - repro'd
- publish project twice without changing project code - repro'd
- VSTS App Service Publish                                 - can't repro so far
- Azure App Service GitHub deployment            - can't repro so f

[2017-08-17 17:49] Jinhuafei commented on #13
I opened a new issue to track the publish issues that 1.0.7 release doesn't fix.

[2017-08-17 17:49] #13 closed

[2017-08-17 18:12] Jinhuafei commented on #16
There is problem(crashing VS) when we specify the vb.net language version in VS2015, so we decided to use default(Let Roslyn compiler decide the language version). There is probably some reason for Roslyn to use old vb version as the default one(Maybe some breaking change).
But anyway your workaround should be good enough to enable you use the new vb.net language features in your project.

[2017-08-17 18:12] #16 closed

[2017-08-17 18:47] remcolam commented on #17
I updated My web app to 1.0.7. In the project file it is mapped to a virtual folder on my local IIS.
![image](https://user-images.githubusercontent.com/11367055/29428260-d291ca3c-838c-11e7-8452-723fbe7e038e.png)

After compiling I open the location in the browser and it gives the following error.
![image](https://user-images.githubusercontent.com/11367055/29428361-333eecfc-838d-11e7-9e13-263349716

[2017-08-17 19:12] titobf commented on #13
1.0.7 worked for me when publishing to azure using web deploy

[2017-08-17 20:21] Jinhuafei commented on #17
@remcolam how do you publish the compiled app unto c:\_talos\core\corepsp\pspadmin folder? Or your project is under that folder?

[2017-08-17 20:31] remcolam commented on #17
My project is under that folder, I just compile... VS maps it to the virtual directory

[2017-08-17 20:42] Jinhuafei commented on #17
Tried the same scenario and it worked as expected.
Would you please share the build log? Set msbuild log verbosity to diagnostic. (Tools->Options->Project and solutions->Build and Run)

[2017-08-17 20:56] remcolam commented on #17
Sigh..... I'm trying to reproduce it again (I went back to 1.0.5 and now updated again to 1.0.7, and now it's working.

It's getting late for me, I'm letting it rest for tonight and I will retest again tomorrow on my work machine.

[2017-08-17 21:24] Jinhuafei commented on #17
Cool. Thanks @remcolam

[2017-08-17 23:00] markokaa commented on #17
For me in VS2015, when I updated from 1.0.5 to 1.0.6, I received 'Could not find file ... csc.exe'. Then after I uninstalled 1.0.6 and then installed 1.0.6, it compiled in VS Build [App] but NOT with VS Build -> Publish  [App] with 'Precompile during publishing' option or in TFS2015.

With 1.0.7, it compiles with TFS2015 but NOT VS Build -> Publish  [App] with 'Precompile during publishing' option

[2017-08-17 23:12] Jinhuafei commented on #17
@erincerol  I tried both scenario with 1.0.7 version and both worked for me. Would you please share your build log with me?

[2017-08-17 23:12] Jinhuafei commented on #17
@markokaa Would you please share your build log with me?

[2017-08-18 06:58] TheConservativeCoder commented on #16
How does roslyn decide the compiler version for `default`? I did try adding
[code]

to the vbproj file but it didn't make a difference?

[2017-08-18 16:19] Jinhuafei commented on #16
@jcouv @jaredpar How does VB.net compiler decide the default language version?

[2017-08-18 16:48] altso commented on #17
I upgraded from 1.0.5 to 1.0.7 and started getting this error in Visual Studio 2017 15.3.0.

When I build the project, the compiler files are not copied into `bin` folder, but into a different one. In my case it's `MyWebApp\_PublishedWebsites\MyWebApp\bin\roslyn\csc.exe` instead of expected `MyWebApp\bin\roslyn\csc.exe` (I replaced the original project name with `MyWebApp`).

When I publish, all t

[2017-08-18 16:51] remcolam commented on #17
I haven't been able to reproduce it anymore

[2017-08-18 17:47] Jinhuafei commented on #17
@altso can you create a new Web App and compare the csproj? I suspect that you have different default target or msbuild properties.

[2017-08-18 18:31] altso commented on #17
@Jinhuafei thanks for the suggestion. I was able to make it work in 1.0.7.

In my .csproj file i had imports in the following order (works with 1.0.5, breaks with 1.0.7):
[code]

Moving Microsoft.CSharp.targets to the top solved the issue (works with 1.0.7):
[code]
I believe `$(MSBuildToolsPath)` comes from `Microsoft.Net.Compilers`, as in the new project I see `$(MSBuildBinPath)`.

[2017-08-18 19:27] cwilli34 commented on #17
I confirm this too with a Github deployment option to Azure.  I get a copy error and that /bin/roslyn is "Access Denied".  I don't have any VM directories mapped.  Nothing out of the ordinary.  1.0.7 and 1.0.6 do not build on Azure.  I had to downgrade to 1.0.5 in order to use this package.

[2017-08-18 19:58] fonbrauzen commented on #17
VS 2017 (with latest public update), after upgrade from 1.0.6 to 1.0.7 1st build was as usual (with Roslyn folder and files) but next one was without them. Currently, I reverted it to 1.0.5

[2017-08-18 20:09] Jinhuafei commented on #17
@cwilli34 Did the "copy error" happen when deploying onto Azure? If so, you may want to check if VBCSCompiler.exe is running on Azure VM.

[2017-08-18 20:11] Jinhuafei commented on #17
@fonbrauzen Assuming the "next one" means you build the project in VS again. Did you clean up the bin folder?

[2017-08-18 20:32] fonbrauzen commented on #17
@Jinhuafei  yes, I tried to rebuild my project few times, but no luck.

[2017-08-18 20:39] Jinhuafei commented on #17
@fonbrauzen Just tried on my machine, it works. Can you create a new web app and upgrade DotNetCompilerPlatform to 1.0.7 version, and then compare the csproj files? Or if you can share the build log, I'll take a look.

[2017-08-19 00:47] jcouv commented on #16
@Jinhuafei The default language version is "default", which means latest major version (15.0).

[2017-08-19 15:34] fonbrauzen commented on #17
@Jinhuafei  well, I tried to compare csproj files (on 2 new projects with and without it), And visually nothing changed, despite versions. In build log
 - all as usual, except the Roslyn folder creation (as I saw yesterday). Today I tried to create few new projects and recreate this bug, but no luck. Maybe this was a side effect of some other packages. Today I received an update for VS 15.3 but te

[2017-08-21 12:23] knopa commented on #13
had same issue with teamcity and octopus on 1.0.7

[2017-08-21 16:58] Jinhuafei commented on #13
@knopa do you mind sharing the build log with me?

[2017-08-21 20:46] Jinhuafei commented on #17
Thanks @fonbrauzen. Let me know if you get any clue about how to repro the issue.

[2017-08-21 22:49] slewis74 commented on #13
@Jinhuafei here's a simple web app project that illustrates what I think @knopa is seeing
[RoslynWebApplication1.zip](https://github.com/aspnet/RoslynCodeDomProvider/files/1240313/RoslynWebApplication1.zip)

To repro:
- open the solution and restore the nuget packages
- run build.cmd from the command line

OctoPack isn't packing any of the Roslyn files because they aren't there (I'm seeing an empt

[2017-08-22 01:50] cwilli34 commented on #17
@Jinhuafei Yes, when using github to deploy to Azure this happens.  It doesn't happen with 1.0.5.  I am not actually using a VM, just Azure's webapp service.  I will look into how to stop the VBCSCompiler.exe from running and see if I have any luck.

[2017-08-22 04:11] Jinhuafei commented on #17
@cwilli34 Do you have any build log that I can take a look? If you have a repro on GitHub, I can give it a try.

[2017-08-22 09:07] knopa commented on #13
@Jinhuafei
Here is build log with 1.0.7 version - https://www.dropbox.com/s/xp1dduva4ca867k/demo_build.zip?dl=0

[2017-08-22 15:00] 0xffffabcd commented on #17
Microsoft.CodeDom.Providers.DotNetCompilerPlatform v1.0.7 still breaks the build process. Here's the build command we're using:

`\Microsoft` Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe" /m /nodeReuse:false /t:Rebuild /p:VisualStudioVersion=15.0 /p:Configuration=Release /p:TargetFrameworkVersion=v4.7  /p:AllowedReferenceRelatedFileExtensions=none /clp:PerformanceSummary;ErrorsOnly`

[2017-08-22 16:33] Jinhuafei commented on #13
@slewis74  Thanks. I'm able to repro the issue with your app. The problem is due to copying Roslyn bits after OctoPacking. I'll look into a fix.

[2017-08-22 16:38] Jinhuafei commented on #13
@knopa looks like the issue is same as the one @slewis74 mentioned above.

[2017-08-22 16:40] Jinhuafei commented on #17
@0xffffabcd just tried the commandline with a new web app project, and Roslyn bits are copied onto bin\Roslyn folder. Is it possible to provide a build log?

[2017-08-23 12:04] drw112 commented on #17
Seeing a similar issue on our build server where it looks like on the first run the copy of the Roslyn compilter to the bin folder doesn't block and takes too long and causes the mvcbuildviews to fail.

After the build fails the first time the roslyn compilers don't get cleaned up and remain there so on subsequent runs the build succeeds on that agent.

[code]

[2017-08-23 16:35] Jinhuafei commented on #17
Thanks @drw112. Does the issue always repro on your CI machine? Is it possible to share the failed build log from your TeamCity server(before and after CopyRoslynCompilerFilesToOutputDirectory task)?

[2017-08-23 17:56] drw112 commented on #17
@Jinhuafei I'd rather not share our entire build log as I don't want to accidentally leak something secure.

It only happens the first time it builds on a particular agent.   After the first fail on an agent subsequent runs succeed.

I created a new test project using the MVC template from VS 2017 15.3.2.  I updated the Nuget packages. Restarted VS (due to the Nuget package .net compilers not unin

[2017-08-24 15:44] cwilli34 commented on #17
@Jinhuafei I can't seem to be able to find a way to get my build logs from Azure.  I could try again, but right now I don't have time to upgrade back to 1.0.7 to try to test this since this is a production project.  It is also a private repo. I will look at this more when I have time.  Sorry I am not more help at the moment.

[2017-08-24 16:29] Jinhuafei commented on #17
@cwilli34 No problem. Thanks for helping me investigate the issue.

[2017-08-24 16:49] Jinhuafei commented on #17
@drw112
For issue #1, probably because VS doesn't trigger the build, since you didn't touch any file in the project. In web app project, the Roslyn bits are copied to the bin folder during the msbuild.
For issue #2, IncrementalClean task is for removing the file produced by the prior build. It's always in the build pipeline. But it's weird to see Roslyn bits are on the clean up list which is not s

[2017-08-29 10:40] mobius127 commented on #13
Hi everyone, with version 1.0.7.0 still fails when I try to publish in Azure...

[2017-08-29 15:58] Jinhuafei commented on #13
@mobius127 Can you share the msbuild log(please set the verbosity to diag)?

[2017-08-30 09:44] fwd079 commented on #17
Yeah had to revert to 1.0.5, did clean uninstall and then removed all files from packages folder, then reinstalled everything and 1.0.7 but still same issue. Anyway tracking this issue now, hopefully there'll be a fix soon.

Regards

[2017-08-30 12:16] Airn5475 commented on #13
I rolled back from v1.0.7 to v1.0.6 and it worked fine.
I also tried uninstalling it altogether and fresh installing v1.0.7 and that worked as well.

[2017-08-30 12:44] mobius127 commented on #13
@Jinhuafei Here

Build started 30/08/2017 14:43:19.
Overriding target "GetFrameworkPaths" in project "C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets" with target "GetFrameworkPaths" from project "C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.NetFramework.CurrentVersion.targets".
Overriding target "SatelliteDllsProjectOutputGroup" in project "C:\Program Files (x

[2017-08-30 16:30] Jinhuafei commented on #17
@fwd079 If you can share the msbuild log, I can take a look.

[2017-08-30 16:36] Jinhuafei commented on #13
@mobius127 from the error message "The target "go" does not exist in the project.", it doesn't seem related to the DotNetCompilerPlatform nupkg.

[2017-08-30 17:17] mobius127 commented on #13
@Jinhuafei but when I'm trying to publish in Azure my web application, fails because of it

[2017-08-30 21:12] Jinhuafei commented on #13
@mobius127 if you uninstall DotNetCompilerPlatform, are you able to publish your app to Azure?

[2017-08-31 05:27] fwd079 commented on #17
@Jinhuafei  I'd love to, but I have already reverted back to 1.0.5 because I am in the middle of a release cycle. Hoping to release next version of my WebAPI 2 project next week. I'll not risk it now, but can provide it after the release, if it isn't fixed by then.

Regards.

[2017-09-01 23:49] BobbyCannon commented on #13
Uninstalling 1.0.7 then reinstall 1.0.7 will publish the assemblies but only once. The next publish will not publish them. This is using a local file path publish.

[2017-09-01 23:55] BobbyCannon commented on #13
There's two ways to get it to deploy. Seems switching publish profiles forces it to redeploy, however if you do a publish profile the "deletes all files" and deploy twice the roslyn folder only is there on first deploy. It's not there any other deploys after. If you clean the site it will also redeploy without having to switch publish profiles. Rebuild will not work but clean will.

[2017-09-01 23:57] BobbyCannon commented on #13
My guess is many people may not being seeing this issue if they do not publish with "delete existing files" flag turned on. A temporary work around is to just uncheck "delete existing files" when working locally.

[2017-09-02 00:56] Jinhuafei commented on #13
@BobbyCannon thanks for the repro. I was able to repro the issue by publishing twice. The second publish doesn't build the project(nothing changed in the project), hence the copy rolsyn files task is not executed. Will look into a fix.

[2017-09-02 05:22] gavinnf opened #18 "cs code build in MSYS2 64 bits and VS Code in Windows 10 creators update ."
I am using dotnet environment to build and run a working C# program and this issue happens on an off and frustrated as I have time constraints .

Another  issue is If I open the code  cs file from VScode
 directly , I can see the squiggly red line  but if I use code . to open at MySys prompt  file loads but squiggly lines disappear  ( in VS code erros and warning)

Screen shot attached .
![build_f

[2017-09-05 17:56] Jinhuafei commented on #18
This is not related to DotNetCompilerPlatform.
To investigate the issue, you may want to use procexp.exe to find out which process locks that assembly.

[2017-09-05 23:05] ttrevorr commented on #13
Can we re-open this issue? Or create a new issue to track this since it clearly isnt fixed?

BTW I have the same issues with 1.0.7 with Teamcity and Octopus.

[2017-09-06 00:06] Jinhuafei commented on #13
@ttrevorr we are tracking the publish related issue through issue #18

[2017-09-06 06:19] frankfuu commented on #17
Also having the same issue with Ocotpack and 1.0.7

[2017-09-06 08:23] 0xffffabcd commented on #17
Looking at the detailed build log it seems that it is copying the files:

[code]

But the `CreateOctoPackPackage` Octopack task (using version 3.6.1.0) doesn't seem to be putting the roslyn folder inside the nuget package.

@Jinhuafei I can send you the detailed msbuild log file but I can't post it on a public website.

[2017-09-06 16:10] Jinhuafei commented on #17
@0xffffabcd thanks. I can repro the Octopack issue on my box. Working on the fix.

[2017-09-06 21:01] bsimser commented on #17
Have same issue (OctoPack 3.6.1.0) on TeamCity 10x. Had to manually upload roslyn folder via FTP to site. Will test once a fix is in.

[2017-09-07 13:29] IronSean commented on #17
I'm experiencing issues just publishing my application to Azure through the Visual Studio publish. I reverted to 1.0.5 for now.

[2017-09-07 16:29] Jinhuafei commented on #17
@IronSean is it possible to share your msbuild log? I was able to publish my web app to Azure.

[2017-09-27 09:58] akash3456 commented on #13
Is there a workaround on this issue besides copying and pasting the roslyn folder into the bin, i have tried using the version 1.0.5 of the dom compiler and have also set csc.exe as environment variable, however i checked through MSBuild im using c#5 i thought this could be the answer.

[2017-09-27 16:09] Jinhuafei commented on #13
@akash3456 would you please elaborate your issue? Are you talking about compiling the code behind file? Do you install RoslynCodeDomProvider nupkg in your project?

[2017-09-27 17:54] akash3456 commented on #13
So when I try to build a web project into an msi I was expecting to see the Roslyn folder in the bin folder of the project of installed files. But this was missing after installing code dom provider nuget package this didn't fix the issue but a manual intervention was required to build the Roslyn files from the source and add them in the msi.

Sent from my iPhone

[2017-09-28 10:36] mac2000 commented on #13
Can confirm also, at moment fighting with TeamCity and OctoPack, reverting package to 1.0.5 gives me roslyn folder inside bin, 1.0.7 - roslyn is missing.

[2017-10-09 16:05] Jinhuafei commented on #17
I made the change to fix two publish issues. (you can find the change set in [dev_1.0.8_releas](https://github.com/aspnet/RoslynCodeDomProvider/tree/dev_1.0.8_release)e branch). Can you try this private build? It's not signed yet, so you may just verify the publish scenario. Otherwise you need to do  sn.exe -Vr Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll

https://www.myget.org/feed/rosl

[2017-10-09 16:06] #18 closed

[2017-10-09 16:31] 0xffffabcd commented on #17
@Jinhuafei This package works on our build system. The "CreateOctoPackPackage" adds the roslyn folder to the package as it did with 1.0.5.

[2017-10-09 16:38] Jinhuafei commented on #17
@0xffffabcd thanks!

[2017-10-10 12:14] djaycee commented on #17
Hi,

I was also completely unable to publish my web projects (ASP.Net MVC5 targetting .Net4.7) with version v1.0.7, the roslyn folder was never copied under my "<project_folder_path>\obj\Production\AspnetCompileMerge\Source\bin\" folder. This version 1.0.8 fixes the problem, I can now publish. Thank you !

When do you plan on releasing a signed version on the officiel nuget repository ? I cannot p

[2017-10-10 14:19] bsimser commented on #17
Confirmed the changes to the .props file fixed this for me. Manually just changed that file for now but looking for the 1.0.8 release (even as a pre-release version) to update our projects. Thanks!

[2017-10-16 12:16] saasen commented on #17
We are having this problem as well. We are using OctoPack. Is there any ETA for the update to be on nuget.org? We really don't need another feed added to our NuGet Package Manager.

[2017-10-16 12:46] hawkunsh commented on #17
Same here. I reverted to 1.0.5 for now and waiting for a signed 1.0.8 release.

[2017-10-18 16:35] Jinhuafei commented on #17
1.0.8 nupkg is released. I'm closing this issue. If you see any other issue, please feel free to open a new issue.

[2017-10-18 16:35] #17 closed

[2017-10-21 13:28] DonaldChapin opened #20 "'Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' Strong name signature could not be verified"
Functional impact

The using application cannot load because of this.  See attached Server Error details.

Minimal repro steps

   1. Create a web application project in VS 2015 Professional v15.4.1 targeting .Net framework 4.6.2
   2. Build the project in VS
   3. Run Debug or Publish to Azure Cloud Service

Expected result

The application loads properly, as it does if I revert to Microsoft.Code

[2017-10-23 17:44] Jinhuafei commented on #20
@DonaldChapin did you download the package from nuget.org?

[2017-10-23 19:15] DonaldChapin commented on #20
Yes, for the first attempt I used the VS 2017 Nuget Package Manager Console to install v1.0.8 after removing v1.0.5 and using the command given on Nuget.

When that didn’t work, I removed v1.0.8 and reinstalled it using the Nuget UI on the VS2017 Project menu, which didn’t work either.

Both attempts gave the same error message.

Donald

From: Jinhuafei [mailto:notifications@github.com]
Sent: Mond

[2017-10-23 20:17] Jinhuafei commented on #20
Can you try to clean up the nuget local cache([instruction](https://stackoverflow.com/questions/30933277/how-to-clear-nuget-package-cache-using-command-line))?

[2017-10-24 10:01] DonaldChapin commented on #20
Cleaning up the Nuget local cache solved the problem.  Thank you very much.

From: Jinhuafei [mailto:notifications@github.com]
Sent: Monday, 23 October, 2017 9:17 PM
To: aspnet/RoslynCodeDomProvider <RoslynCodeDomProvider@noreply.github.com>
Cc: DonaldChapin <Donald.Chapin@BusinessSemantics.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/RoslynCodeDomProvider] 'Microsoft.CodeDom.Pr

[2017-10-24 16:32] #20 closed

[2017-10-26 01:35] bweber commented on #17
I upgraded a project to 1.0.8 and am seeing the same issues I saw with 1.0.7 and 1.0.6 where the roslyn folder does not copy. I reinstalled the package and it still didn't work. Downgrading to 1.0.5 worked perfectly.

[2017-10-26 04:03] Jinhuafei commented on #17
@bweber is it possible that you share the detailed msbuild log?

[2017-10-26 09:01] brgrz commented on #13
Seems fixed with 1.0.8 because with 1.0.7 and our TFSs build the /bin/roslyn folder was always missing after builds, now it is there.

[2017-10-27 22:43] willbush commented on #13
Seems to me every version after 1.0.5 does not copy roslyn into the bin folder even on a new simple console application. It work for me in 1.0.5, but it has the bug that was fixed in 1.0.6 with the hard coded path.

[2017-10-27 23:02] willbush opened #21 "roslyn not getting copied into bin folder"
This issues exists in versions after 1.0.5.

Reproduction steps:

1. Create a new Console App on .NET Framework 4.6.1
2. Install Microsoft.CodeDom.Providers.DotNetCompilerPlatform via NuGet
3. I was trying to compile a basic "hello world" source using interpolated strings see below:

[code]
4. look in /bin/Debug and you will not find Roslyn.

I would expect the above program to run and print "done

[2017-10-27 23:20] willbush commented on #21
Here is an example of the above program working in 1.0.5 with the [path to roslyn hacked through reflection](https://stackoverflow.com/questions/31639602/using-c-sharp-6-features-with-codedomprovider-rosyln), which was the bug that was fixed in 1.0.6.

[code]

[2017-10-28 00:03] willbush commented on #21
The issues is that console apps (and probably WPF apps) don't define a "WebProjectOutputDir" and once I added it to the project file 1.0.8 now copies roslyn to the bin folder.

[code]

In the "props" file that defines how this is copied it has the following:

[code]
Perhaps it should not be continue on error? I'm not sure exactly how this should be fixed, but adding that variable to the csproj fil

[2017-10-28 00:08] willbush commented on #13
Turns out if your project file does not define the variable "WebProjectOutputDir" it will fail to copy Roslyn over and it continues on error.

See the issue I opened: https://github.com/aspnet/RoslynCodeDomProvider/issues/21

[2017-10-31 17:20] Jinhuafei commented on #21
Thanks @willbush . This provider is originally designed for asp.net web app. We will consider to add non-web app support in future. BTW, feel free to send a PR.

[2017-11-03 16:48] mealbarracin10 commented on #10
this bug is present in version 1.0.8

[2017-11-03 22:13] willbush commented on #21
Alright, I did not realize this was intended to be used only for asp.net. However, I'm not aware of any alternatives if I want to dynamically compile C# 6 code. I'll probably just live with adding the WebProjectOutputDir to my project file for now.

[2017-11-04 00:41] willbush commented on #21
Another thing I realized about this, and this probably applies to asp.net as well. When I install this in a library X, and I have several other libraries that pulls in my library X, then they also have to install this library through nuget so that Roslyn will get included in the bin folder. Is this even something that could be handled automatically?

Right now I have a library that does code gener

[2017-11-09 11:21] RickStrahl commented on #13
Running into this issue in non-Web projects as well. WPF app in this case, same problem with 1.08. Reverting to 1.05 works.

[2017-11-10 23:17] willbush commented on #13
@RickStrahl see my previous comment and referenced issue. Adding "WebProjectOutputDir" variable to our csproj file worked in our WPF app.

[2017-11-11 03:53] xt0rted commented on #10
I was getting this error when building on azure with kudu on version 1.0.7 and 1.0.8, and intermittently on appveyor with version 1.0.8.

After further investigation it turned out that `Microsoft.Net.Compilers` and `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` were installed to all of my projects. Once I removed `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` from all but the website p

[2017-11-11 14:43] akash3456 commented on #13
Ok thanks for identifying this as an issue. Will it work if I do specify webprojectoutputdir in settings?

Sent from my iPhone

[2017-11-11 19:36] willbush commented on #13
@akash3456 Yes it will work, but it's a bit hacky.

[2017-11-11 19:45] akash3456 commented on #13
That’s not bad to be fair thanks for the effort

Sent from my iPhone

[2017-11-13 17:14] Jinhuafei commented on #10
@mealbarracin10 @xt0rted Is it possible for you to share your build log?

[2017-11-13 17:20] xt0rted commented on #10
@Jinhuafei Here's two different AppVeyor build logs from the same project when this was happening intermittently https://gist.github.com/xt0rted/f741eb9410b2ee7d756d8bc47341987b

[2017-11-13 19:37] Jinhuafei commented on #10
Thanks @xt0rted . Are Domain.csproj and EquineExchange.HelloSign.csproj web projects? DotNetCompilerPlatform is supposed to install on web project only.

[2017-11-13 20:56] xt0rted commented on #10
No they aren't. I'm not sure why those had the package added, but I think it was from a bad update where all projects were selected instead of just the web project. After asking around I had a few people confirm that this package was only for web projects and once I removed it from the others the build started passing. Locally they always did, it was just on AppVeyor where it was intermittent and

[2017-11-15 00:21] BenedekFarkas opened #22 "Remove "Moq" from the test project as it's not used"
PR: #23

[2017-11-15 01:33] BenedekFarkas opened #24 "Update NuGet package description with changeset link"
This is just a suggestion: Similar to the [Microsoft.Net.Compilers](https://www.nuget.org/packages/Microsoft.Net.Compilers) package, I think it would be useful if the description of the package would include a link to the changeset, from which the package was built (also to make it easier to find this repository).

[2017-11-17 17:53] BenedekFarkas opened #25 "Adding the ability to define a custom, local path for the Roslyn tools"
When adding this package to a project trough the NuGet package manager, the csproj is also modified with a build task to copy the tools to the `$(ProjectDir\bin\roslyn)` folder. If the solution contains a lot of projects (e.g. in our case [Orchard CMS](https://github.com/OrchardCMS/Orchard) has 85 out of the box and most of them require this for Razor IntelliSense and view compilation to support C

[2017-11-19 12:48] BenedekFarkas commented on #25
I've submitted a PR in the meanwhile. To be honest, I'm entirely satisfied with this solution, but I didn't really find a nicer way without making significant changes to the Compiler class and its descendants.

[2017-11-20 20:05] mikeharder opened #27 "Print error or warning during build if web workload is not installed"
If the web workload is not installed, an error or warning should be printed during build.  Currently, the build succeeds without error, but the app fails at runtime since `csc.exe` was not copied to bin.  The improvement would be to print an error or warning during step 5 below.

# Repro Steps
1. Clean machine.
2. Install dev tools
  A. Via Chocolatey: `choco install git visualstudio2017buildtools

[2017-12-06 19:36] Jinhuafei commented on #25
Thanks @BenedekFarkas . Actually we've already added support for that. Check this commit (https://github.com/aspnet/RoslynCodeDomProvider/commit/d930103a8c272e42ea1d06f63a72517f62d6da07) for more details.

[2017-12-06 19:50] Jinhuafei commented on #24
thanks for the suggestion @BenedekFarkas . We are using GitHub Releases feature to correlate the nupkg and the source.

[2017-12-06 20:33] BenedekFarkas commented on #24
I can see that, but what I'm talking about is a link the other way. If you just look at the NuGet package, it's not obvious that this repository hosts its source code (the name of the package and the repository is also different).

[2017-12-06 21:33] BenedekFarkas commented on #25
That commit (Support custom TTL from Environment variable) is not quite connected to this. What you might wanted to refer to is the global compiler path setting using an environment variable, but that's not really applicable here either, as their purpose is a bit different. Would you like more elaboration about my suggestion and PR?

[2017-12-06 22:23] Jinhuafei commented on #24
Makes sense. Will add a link to the releases tag on nuget.org

[2017-12-06 22:37] Jinhuafei commented on #24
This is actually from the nuspec. Need to modify the build the process.  Will do some investigation.

[2017-12-06 23:16] Jinhuafei commented on #25
You are right. The commit I'm referring is "global compiler path setting using an environment variable".

When DotNetCompilerPlatform nupkg is installed, it modifies project file which inserts some tasks to copy Roslyn bit unto bin\Roslyn folder at build time. The compilerPath PR won't solve multi-copies of Roslyn problem. Also, how will you publish your web apps? Are they all deployed to same ser

[2017-12-09 11:39] MarcelDevG opened #28 "When upgrading/installing the package in visualstudio, the language version is reset to default."
[See Issue on developercommunity.visualstudio.com](https://developercommunity.visualstudio.com/content/problem/99154/error-bc36716-visual-basic-120-does-not-support-in.html?childToView=164260#comment-164260)

I can understand the reason for vs2015, but can it leave the setting when in vs2017 be preserved?

Thanks

[2017-12-12 15:36] BenedekFarkas commented on #25
Yep, I used that for the main (Web) project and it works fine. The complexity comes where we need to use these libraries in other project of the same solution, see below.

---

I did not explain how I'm using the changes in my PR in detail, so here it is:
What we have is a solution with a web (`Orchard.Web`) project (which is what you'd select to publish from VS, otherwise we have a custom proj fi

[2017-12-15 15:52] MV10 commented on #17
For the record, I was fighting the missing-roslyn issue and 1.0.8 corrected the problem. In my case Publish -> Preview would break it every time, and I'd have to Publish (without Preview) on another profile to fix it.

(Maddeningly, this was reported as "Applying transformations to web.config failed," so there is another Publish bug in there somewhere relating to how publish or preview failures ar

[2018-01-17 19:18] DarinMacRae commented on #10
There should be some kind of error (warning is fine) if this package inadvertently gets added to a non-web project. This has cost many of us time and frustration. Thank you to all that raise the issue up to make it easier to find and fix.

[2018-01-18 10:47] cr41g1w opened #29 "Compiler error with Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
I am using Visual Studio Enterprise 2017 Version 15.3.3 to create a Web Pages project and am getting a compiler error after updating Microsoft.CodeDom.Providers.DotNetCompilerPlatform to 1.0.8.

Steps to reproduce:

Open Visual Studio.  File > New > Project
Choose Visual C# > Web > Web Site > ASP.NET Web Site (Razor v3) and click OK
Run the project.  It should work fine.  Stop running again.
Right

[2018-01-18 11:24] cr41g1w commented on #29
Looking at the output window, I think this is actually related to issues with the uninstall.ps1 and install.ps1 scripts.  Both are failing, yet the package manager thinks both have succeeded:

Attempting to gather dependency information for multiple packages with respect to project 'WebSite2', targeting '.NETFramework,Version=v4.7.1'
Gathering dependency information took 282.63 ms
Attempting to re

[2018-01-18 11:38] cr41g1w commented on #29
I have got this to work now by running Visual Studio as an Administrator before updating the packages via the Nuget Package Manager.  Not sure if this bug is specific to this package yet.  Anyway, running as an Administrator resolves all the issues with the powershell scripts and the project then works fine with 1.0.8.

[2018-01-18 11:38] #29 closed

[2018-01-19 19:49] Jinhuafei commented on #28
When updating the CodeDomProvider, we may consider to preserve the CodeDom setting in the web.config.

[2018-02-08 13:43] BenedekFarkas commented on #25
So what do you think?

[2018-02-22 15:44] Rzpeg commented on #13
Upgrading to 1.0.8 hasn't solved the issue. We are using the "PackageReference" Nuget format

[2018-02-22 16:10] Rzpeg commented on #21
Upgrading to 1.0.8 hasn't solved the issue. We are using the "PackageReference" Nuget format.
MVC5, Target 4.6.1, "Remove Additional Files at destination" is checked.

[2018-02-26 17:14] Jinhuafei commented on #21
@Rzpeg can you provide repro steps? This issue is about using the CodeDom provider nupkg in non-web app. If your issue is in web project, please open a new issue.

[2018-03-02 11:10] timmkrause commented on #13
Having the same issue on TeamCity. If I run the publish profile locally `roslyn` is missing. The proejct uses the "classic" `.csproj` (non-SDK) format and `PackageReference`s with `ToolsVersion="15.0"`.

What I have removed when upgrading to `PackageReference`s was

[code]
because from my understanding it is not required anymore and with `PackageReference`s the path to `..\packages` is not correct

[2018-03-02 17:42] Jinhuafei commented on #13
@Rzpeg  @timmkrause can you provide msbuild log?

[2018-03-06 12:21] timmkrause commented on #13
@Jinhuafei I am sorry but unfortunately I am not allowed to do so...

What came to my mind while reading the log was that the last build step which builds the project with `/p:DeployOnBuild=true` and a publish profile (executes MSDeploy) does the following before copying other files:

[code]

I fixed it now via a `{projectName}.wpp.targets` with the following content which explicitly copies the Ro

[2018-03-09 15:38] jaredpar opened #33 "SharedCompilationId is not supported by Csc Task"
This is ported from https://github.com/dotnet/roslyn/issues/24542

When upgrading to Dev15.6 web projects using the DotNetCompilerPlatform package will get the following error when building:

29>C:\Program Files (x86)\Microsoft Visual

This appears to be due to the new parameter, SharedCompilationId, being added to the C# targets but not being present in the Csc Task that is loaded by the DotNetCo

[2018-03-09 23:08] jaredpar commented on #33
Note this also applies to `EmbedAllSources`

[2018-03-10 14:43] BenedekFarkas commented on #22
Fixed on `master`.

[2018-03-10 14:43] #22 closed

[2018-03-10 15:29] BenedekFarkas commented on #25
Re: https://github.com/aspnet/RoslynCodeDomProvider/pull/26#issuecomment-371976809

I just tested those changes and it's working great!
Do you have an idea when's the next release will be?

[2018-03-10 15:29] #25 closed

[2018-03-10 21:39] evil-shrike opened #37 "CSharpCodeProvider fails on .net core with TypeLoadException: Could not load type 'System.Security.Principal.WindowsImpersonationContext' from assembly 'mscorlib'"
I expected that CSharpCodeProvider from this repo is a cross-platform CodeDom-provider build around Roslyn which is also cross-platform. But it turned out that CSharpCodeProvider is bound to Windows as it uses WindowImpersonationContext for some reason:

https://github.com/aspnet/RoslynCodeDomProvider/blob/707c08cf1ea8947548da316a0891213578b1779a/src/Microsoft.CodeDom.Providers.DotNetCompilerPlatf

[2018-03-12 12:53] evil-shrike opened #38 "CSharpCodeProvider doesn't support other then Web projects"
I understand that RoslynCodeDomProvider is part of ASP.NET ecosystem. But it's presented as a provider for CodeDom. Even package name has nothing to do with asp.net - `Microsoft.CodeDom.Providers.DotNetCompilerPlatform`. So it seems totally legit to expect that CSharpCodeProvider will work in non ASP.NET projects, right?
But it doesn't.

Rebuilding a solution where `Microsoft.CodeDom.Providers.Dot

[2018-03-12 14:46] evil-shrike commented on #38
Another issue (though I'm not sure that it depends on a project type) is that csc.exe isn't copied into output folder so runtime compilation doesn't work - it fails with error System.IO.DirectoryNotFoundException: Could not find a part of the path 'my-unittest-project\bin\Debug\net461\bin\roslyn\csc.exe'.

I do see that `Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props` is included in obj\

[2018-03-12 16:10] Jinhuafei commented on #25
Thanks for the verification. We are testing the signed build internally. I don't have a concrete release date yet, but it should be out this month.

[2018-03-12 22:54] Quppa commented on #33
Moving my comment from the bug:

Upon further investigation the issue is that our `csproj` files were missing this line:
`<Import Project="..\packages\Microsoft.Net.Compilers.2.4.0\build\Microsoft.Net.Compilers.props" Condition="Exists('..\packages\Microsoft.Net.Compilers.2.4.0\build\Microsoft.Net.Compilers.props')" />`

`Microsoft.Net.Compilers.props` sets the value of `CSharpCoreTargetsPath`, wh

[2018-03-12 22:55] Quppa commented on #33
The above `Import`s only work, of course, if the packages are located in `..\packages`, but the default these days seems to be in the `.nuget` directory in the current user's directory.

[2018-03-13 22:48] mattfjh commented on #38
@evil-shrike thanks for the feedback. We recently made some change to make the provider work on non-web project. Would you like to give it a try? You can get the package from the feed below.

Install-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -Version 1.0.9 -Source https://www.myget.org/F/roslyncodedomprovider/api/v3/index.json

[2018-03-13 22:49] Jinhuafei commented on #38
@evil-shrike thanks for the feedback. We recently made some change to make the provider work on non-web project. Would you like to give it a try? You can get the package from the feed below.

Install-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -Version 1.0.9 -Source https://www.myget.org/F/roslyncodedomprovider/api/v3/index.json

[2018-03-13 22:52] Jinhuafei commented on #37
@evil-shrike codedom provider is only for full .net framework, not for .net core. What's your use case on .net core?

[2018-03-13 22:56] Jinhuafei commented on #33
@Quppa the issue only happens on package reference mode?

[2018-03-13 22:58] Quppa commented on #33
@Jinhuafei I believe the `Import`s are added correctly when the package is installed using `packages.config`, yes.

[2018-03-13 23:14] Jinhuafei commented on #24
This will be added in 1.0.9 release.

[2018-03-13 23:14] #24 closed

[2018-03-14 01:23] evil-shrike commented on #37
@Jinhuafei probably I started digging into the thing without enough knowledge. But I can share how I came to the idea that I need RoslynCodeDomProvider.
I have a lib for reporting. It allows designing reports in some xml layouts with macros. One of macro types is C# code. Previously the lib was targeted net45 and now I'm trying to migrate it onto netcore.
There's no CodeDOM in .net core, yes, but

[2018-03-14 16:31] Jinhuafei commented on #37
RoslynCodeDomProvider uses Roslyn compiler to compile the code. There are two options to compile the code with Roslyn. One is to host the Roslyn in process(I think this is what you mean by calling Roslyn API). The other one is to use Roslyn compiler process. We chose to use the second way(you can find the reason that we chose this in [this thread](https://github.com/aspnet/RoslynCodeDomProvider/is

[2018-03-14 16:31] #37 closed

[2018-03-15 01:35] Quppa commented on #33
Version `2.8.0-beta1-62707-12` of Roslyn seems not to include any new CSC parameters, so the VS15.7 update might be pain-free in this respect.

[2018-03-15 17:18] Jinhuafei commented on #33
The root cause of the problem is the Roslyn compiler shipped with VS is newer than the Roslyn compiler nupkg referenced by the project, and that new version Roslyn adds some new compiler parameters in Microsoft.CSharp.targets. The codedom provider nupkg is going to remove the dependency on Roslyn nupkg which means msbuild will only use the Roslyn compiler shipped with it. So this problem should be

[2018-03-15 23:53] Quppa commented on #33
That sounds promising - can you give any indication of when this update will be released?

[2018-03-15 23:56] Jinhuafei commented on #33
It should be in this month. I published a version onto myget for testing purpose. You can give it a try. The final version will be 1.1.0.

Install-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -Version 1.0.9 -Source https://www.myget.org/F/roslyncodedomprovider/api/v3/index.json

[2018-03-15 23:57] Jinhuafei commented on #33
BTW, after you install the new version. Please remember to remove Microsoft.Net.Compilers nupkg from your project.

[2018-03-23 14:20] wpsmmb opened #41 "Roslyn compiler is copied to root directory"
**Version Used**:
1.0.6, 1.0.7, 1.0.8

**Steps to Reproduce**:
Use the compiler in a non ASP.NET project to compile dynamic assemblies as follow:
[code]

**Expected Behavior**:
Roslyn files will be located in subfolder of the project.

**Actual Behavior**:
The compiler is copied to 'C:\bin\roslyn' or if the solution is located on drive D the files are copied to 'D:\bin\roslyn'.

[2018-03-23 14:37] wpsmmb commented on #41
I think https://github.com/aspnet/RoslynCodeDomProvider/pull/32 will close this issue.

[2018-03-27 11:13] WeihanLi commented on #38
I met the same problem with 1.0.8, when will 1.0.9 release?

[2018-03-27 15:36] Jinhuafei commented on #38
@WeihanLi We will introduce aspnet:RoslynCompilerLocation appsetting in new release through which you can specify the Rolsyn compiler location. You can find more details on the [readme](https://github.com/aspnet/RoslynCodeDomProvider).

[2018-04-03 04:07] KirillOsenkov commented on #38
While I'm here, check the typo: `RoslyCompilerFiles`. It should be replaced with `RoslynCompilerFiles` everywhere.

[2018-04-03 04:08] KirillOsenkov commented on #38
Also, is this supported on a Mac? Current logic suggests Windows only and we've been getting a ton of complaints from users of VSMac that try building projects that use the https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform NuGet package.

[2018-04-03 16:20] Jinhuafei commented on #38
@KirillOsenkov  good catch. Will fix that typo. For now, the package only supports windows. If we get enough user requests, we may add that support. What's your use case on Mac?

[2018-04-03 17:48] KirillOsenkov commented on #38
VSMac is getting a lot of reports that projects using this package fail to build on a mac :) I’m not sure what those projects are or what the usage is.

[2018-04-19 21:28] bzier commented on #41
@Jinhuafei Do you have any estimate for when the next version (>=1.0.9) will be available on the official/stable channel? I was experiencing this problem on our TeamCity build agent with 1.0.8 and attempted 1.0.9 from your comment [here](https://github.com/aspnet/RoslynCodeDomProvider/issues/38#issuecomment-372845225), which seems to have fixed it. Just curious when that version will be released.

[2018-04-20 16:38] Jinhuafei commented on #41
@bzier I'm trying to get another fix into the next release, after finish the testing we will publish it. In the meanwhile, can you give it a try with the private build which you can get from this [myget feed](https://www.myget.org/F/roslyncodedomprovider/api/v3/index.json)?

[2018-04-20 17:34] bzier commented on #41
@Jinhuafei Yes, I pulled the 1.0.9 package from the MyGet feed and that is working for us. Thank you.

[2018-04-20 18:57] Jinhuafei commented on #38
@WeihanLi Looked into you project and the issue you saw is caused by the fact that PackageReference mode ignores install.xdt in the nupkg. To workaround the issue, you can add the following appSetting into your app.config file(no need to use environment variable).

[code]

[2018-04-24 06:26] WeihanLi commented on #38
@Jinhuafei  Thank you so much.

I've a few questions.
- Does it support relative path like `~/roslyn` or support only  absolute path?
- Does it have a default value if `aspnet:RoslynCompilerLocation` does not exist in appSetings?
- Does it support for use in in dot net core projects?

[2018-04-24 09:44] BenedekFarkas commented on #25
Any news on a NuGet release?

[2018-04-24 16:30] Jinhuafei commented on #25
@BenedekFarkas we are targeting to next week.

[2018-04-24 17:09] Jinhuafei commented on #38
#1 yes, it supports windows relative path. You can use something like below. And it is interpreted as relative to the current working directory. BTW, ~ is not windows relative.
[code]
#2 The default value is [working directory]\bin\roslyn
#3 No, this package is not for .net core.

[2018-04-26 08:49] antonberezan commented on #33
@Jinhuafei any update on this? Could you please tell when 1.1.0 will be published to nuget?

[2018-04-26 16:26] Jinhuafei commented on #33
We are targeting to next week.

[2018-05-04 17:00] Jinhuafei commented on #38
2.0.0-preview is released. After upgrading Microsoft.CodeDom.Providers.DotNetCompilerPlatform nupkg, please remember to uninstall Microsoft.Net.Compilers nupkg in your project.

[2018-05-04 17:00] #38 closed

[2018-05-04 17:01] Jinhuafei commented on #41
2.0.0-preview is released. After upgrading Microsoft.CodeDom.Providers.DotNetCompilerPlatform nupkg, please remember to uninstall Microsoft.Net.Compilers nupkg in your project.

[2018-05-04 17:01] #41 closed

[2018-05-04 17:02] Jinhuafei commented on #33
2.0.0-preview is released. After upgrading Microsoft.CodeDom.Providers.DotNetCompilerPlatform nupkg, **please remember to uninstall Microsoft.Net.Compilers nupkg in your project**.

[2018-05-04 17:02] #33 closed

[2018-05-04 17:04] Jinhuafei commented on #21
2.0.0-preview is released. Microsoft.CodeDom.Providers.DotNetCompilerPlatform now supports non-web projects. After upgrading it, please remember to uninstall Microsoft.Net.Compilers nupkg in your project.

[2018-05-04 17:04] #21 closed

[2018-05-04 17:51] bzier commented on #41
Thanks for the update @Jinhuafei

[2018-05-09 19:03] jmarolf opened #46 "CSharpCodeProvider vs Roslyn, round 2"
moved from https://github.com/dotnet/roslyn/issues/26729 on behalf of @codemonkey493

**Version Used**:
[code]

**Steps to Reproduce**:

1. Create a fresh package with the packages above
2. create a CSharpCodeProvider object
3. Call CompileAssemblyFromFile()

**Expected Behavior**:
Compile.

**Actual Behavior**:
System.IO.DirectoryNotFoundException: 'Could not find a part of the path 'D:\Projects\

[2018-05-14 16:43] Jinhuafei commented on #46
@codemonkey493 please try [2.0.0-preview](https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/2.0.0-preview).

[2018-05-16 17:02] #46 closed

[2018-05-17 10:30] vcarlucci commented on #21
Installing nugpkg Microsoft.CodeDom.Providers.DotNetCompilerPlatform 2.0.0 fails. We tried it on a class library (.Net Framework) project with .NET version 4.7.02558. Here the message.

PM> Install-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -Version 2.0.0

Attempting to gather dependency information for package 'Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0' with respect

[2018-05-17 10:57] vcarlucci commented on #21
uups, version 2.0.0 is in preview, I didn't saw it. It works of course!

[2018-05-18 21:54] smorrisfv commented on #21
Hi there,

I've installed version 2 of this within my project.  It is a non-web project and when I compile it it outputs `csc.exe` in the `bin\Debug` directory witin `bin\roslyn`, so `bin\Debug\bin\roslyn`.  However, when I run my application it crashes with the error

[code]

Since the `exe` is in the `bin\roslyn` directory it is looking in the wrong spot.  Is there a way to redirect to the right

[2018-05-18 22:02] Jinhuafei commented on #21
@smorrisfv you can update the compiler location through the appsetting in your app.config. All the configuration details can be found on the [project home page](https://github.com/aspnet/RoslynCodeDomProvider)
[code]

[2018-05-18 22:11] smorrisfv commented on #21
Thanks @Jinhuafei , worked perfectly!

[2018-05-25 22:28] smorrisfv commented on #21
I've just upgraded my product to work with .NET Standard tools and have noticed that the compiler isn't being output to to the build folder.  I'm not sure if this is a seperate bug or not, if so then I'll open a new ticket.

My target framework is `net46`.

[2018-05-30 16:38] Jinhuafei commented on #21
Are you using packagereference in your project(nupkg ref is added into csproj file, not packages.config)? If so, then this is a different issue. Please open a new issue.

[2018-05-31 16:56] PhilPJL opened #50 "Advice is wrong"
In your advice you say:

However the point of installing Microsoft.Net.Compilers is to build using the latest version on whichever machine is building the code.  For example we are stuck using TFS 2013 and a TFS 2013/5 build server.  The build server doesn't recognize the VS 2017 build tools so we need the package installed in every project.

[2018-05-31 18:24] jhudsoncedaron commented on #33
Regressed on 2.1 release when compiling *.cshtml files. Workaround: don't compile *.cshtml files in Visual Studio builds.

[2018-05-31 19:51] Jinhuafei commented on #33
@jhudsoncedaron Just tried DotNetCompilerPlatform 2.0.0-preview with the scenario you mentioned, but I didn't see the issue. Would you please provide more details about the repro steps?

[2018-05-31 20:21] jhudsoncedaron commented on #33
Here's the project file with the obviously unrelated stuff removed. I suppose this could be a problem with the upgrade to .net core 2.1 instructions instead. Please note this *only* fails in Visual Studio; not directly from the command line.

    <Project Sdk="Microsoft.NET.Sdk.Web">

      <PropertyGroup>
        <TargetFramework>netcoreapp2.1</TargetFramework>
        <PreserveCompilationContext

[2018-05-31 21:34] Jinhuafei commented on #33
.net core Razor view compilation in VS uses the Roslyn compilers shipped with VS. What's the version of "C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\15.0\Bin\Roslyn\csc.exe". You can get the newer version through VS update.

[2018-05-31 21:49] Jinhuafei commented on #50
Thanks for your feedback @PhilPJL .  The trade-off behind this decision is to provide much better perf when compiling the web projects in VS 2017 by default. We understand this may break some customers who are still using old version of VS, so we still keep the option for them to use Microsoft.Net.Compilers in their projects. In your case, you can upgrade DotNetCompilerPlatform to 2.0.0 and also k

[2018-05-31 22:07] jhudsoncedaron commented on #33
Ok so this one's my bad. I'm going to leave this one up here for the next person to find. The update to 15.7 preview installs in parallel not overwriting the existing Visual Studio 15.

This error is also the error you get trying to build an ASP.NET Core 2.1 project with Visual Studio 15.3 as opposed to the preview released with .NET Core 2.1.

[2018-06-03 15:59] PhilPJL commented on #50
@Jinhuafei How much performance difference would you expect?  If it's a lot why doesn't VS special case this nuget package somehow so that it uses the ngen'ed version if possible.

[2018-06-03 17:42] PhilPJL commented on #50
@Jinhuafei Looks like I've answered my own question.  If I ngen csc.exe and VBCSCompiler.exe in the .net compiler package folder the build time for our solution of 180 projects goes from

Machine 1 (8700K - my home machine): 150 seconds to 60 seconds, which is fantastic!
Machine 2 (crappy VM - my work machine - yes really) : 1080 seconds to 900 - not so good

Thanks for the hint.  It's turned out

[2018-06-04 16:26] Jinhuafei commented on #50
Yes, NGen can improve the cold startup perf by reducing the JIT cost.

[2018-06-05 20:14] #50 closed

[2018-06-11 00:23] ManfredLange opened #51 "Version 2.0.0 causes error : MSB4801: The task factory "CodeTaskFactory" is not supported on the .NET Core version of MSBuild."
# Problem

We have a library project (SDK csproj file format) that targets `net462`. It uses `PackageReference`, not `packages.config`.

When we add nuget package `microsoft.codedom.providers.dotnetcompilerplatform` version 2.0.0 to this project it builds fine within VS2017 v15.7.3. However, we get the following error when compiling the project with command `dotnet build` from a command line (e.g.

[2018-06-11 17:53] Jinhuafei commented on #51
@ManfredLange Thanks for reporting the issue. A new task which relies on CodeTaskFactory was added to make sure Roslyn compiler service is terminated before copying Roslyn bits. The DotNetCompilerPlatform package currently doesn't work dotnet build yet, but here is a hacky way to workaround the issue. You can add following target to the samplelib.csproj.

[code]

BTW, all the targets used in DotNe

[2018-06-12 22:48] ManfredLange commented on #51
Yes, I can confirm that workaround resolves the problem in the sample project. It didn't resolve it in our actual production project where it perhaps never gets to the target due to compile errors caused by other issues when mixing new/old project file formats.

We have converted all of our projects from `packages.config` to `PackageReference` and that works just fine. It is my understanding that

[2018-06-14 03:57] ManfredLange commented on #51
@Jinhuafei Further to this: We experience this issue at the moment in two project of our code base. We were able to resolve it in one case with your workaround. As mentioned in my previous post, it didn't seem to work for the other one. We'll continue to experiment.

[2018-06-14 23:57] Jinhuafei commented on #51
Thanks for the detail. If you can provide build log(-v diag), I can take a look.

[2018-06-15 00:05] CZEMacLeod commented on #51
@Jinhuafei Since there is now a RoslynCodeTaskFactory in the latest SDK is it possible/worth switching to use that?

[2018-06-15 00:19] Jinhuafei commented on #51
@CZEMacLeod haven't tried this yet. This may be an option. But we can't just swtich to that, since there are tons of developers still using older version.

[2018-06-16 17:02] PhilPJL opened #52 "V1.0.8/V2.0.0 Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props error"
As mentioned in another issue I raised, I have a solution were most projects use the .Microsoft.NET.Compilers package so that our build server works correctly.
I've discovered it's possible when building on a local machine, to use the VS compiler (which turns out to be 5x faster than the compiler package) by setting the environment variable 'UseSharedCompilation'='true'.

If I set the variable I g

[2018-06-18 20:46] Jinhuafei commented on #52
I wasn't able to repro the issue with setting UseSharedCompilation. Can you share the repro steps or msbuild diag log?

[2018-06-19 07:48] PhilPJL commented on #52
Repro for first bug is easy.

Ensure the environment variable UseSharedCompilation=true.
Restart VS 2017 if you have it open.
Create a new MVC app in VS 2017 which contains both Microsoft.Net.Compilers (2.6.1) and Microsoft.CodeDom.Providers.DotNetCompilerPlatform (1.0.8)
Build. There are 6 warnings such as  'could not copy the file "swapfil.sys" because it was not found'
This is easily fixed by c

[2018-06-19 13:32] PhilPJL opened #53 "Microsoft.Build.Tasks.v4.0.dll not found"
When building on a TFS 2015 build server with VS 2013, 2015 and 2017 installed, this fails:

`  <UsingTask TaskName="CheckIfVBCSCompilerWillOverride" TaskFactory="CodeTaskFactory" AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.v4.0.dll">`

Copying the .v4.0.dll from the .NET framework folder into C:\Program Files (x86)\MSBuild\14.0\Bin\amd64 fixes the issue.

[2018-06-19 20:48] Jinhuafei commented on #52
Didn't get the luck to repro the second issue, but I'll fix the code you pointed out.

[2018-06-23 08:00] mrnams commented on #33
Install-Package Microsoft.Net.Compilers -Version 2.8.2
And you will no more get above mentioned error

[2018-06-27 13:31] tiandao-dongguan commented on #33
@mrnams  thank you!

[2018-07-12 07:06] WeihanLi opened #56 "Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props(31,5): error : MSB4801 error MSB4175"
When I build my project(target with net452) with `dotnet build`, I meet the error as follows:

C:\Users\liweihan.TUHU\.nuget\packages\microsoft.codedom.providers.dotnetcompilerplatform\2.0.0\build\net45\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props(31,5): error MSB4175: 未能从程序集“C:\Program Files\dotnet\sdk\2.1.301\Microsoft.Build.Tasks.Core.dll”加载任务工厂“CodeTaskFactory”。任务工厂必须对 "TaskType" 属

[2018-07-13 19:01] harrisse commented on #53
I believe I'm hitting this as well:
[code]

[2018-07-13 19:04] harrisse commented on #53
Nevermind, my package missing is different -- Microsoft.Build.Utilities.v4.0 but still potentially related.

[2018-07-16 05:08] WeihanLi commented on #56
build it with `Visual Studio` is normal

[2018-07-18 11:52] StasPerekrestov commented on #52
Hi. My team experiences the same issue

![image](https://user-images.githubusercontent.com/838093/42879685-25e94cc2-8a9a-11e8-8038-cdb7bf17059c.png)

[2018-07-25 14:40] dreschner opened #57 "Unable to copy roslyn files due to file lock from VBCSCompiler.exe"
Even we are on version 2.0.0, we experience some issues with locks from the VBCSCompiler.exe (see logs).

[code]

We're unsure what we could do to assist you to analyse the issue..?

[2018-07-25 17:04] Jinhuafei commented on #56
Thanks @WeihanLi . This is the same issue as [this one](https://github.com/aspnet/RoslynCodeDomProvider/issues/51)

[2018-07-25 17:05] Jinhuafei commented on #57
Is this a web site project?

[2018-07-26 03:44] dreschner commented on #57
Yes, it happens on a web site project.

[2018-07-26 07:58] dreschner commented on #57
Happend again, but this time, even visual studio crashed. But I'm not sure if it does mean anything, as vs sometimes crashes at the end of the publishing.

![image](https://user-images.githubusercontent.com/34408442/43249107-1b4bfd98-90ba-11e8-804b-52695fe78917.png)

[2018-07-26 08:02] dreschner commented on #57
And here are the lock handles from process explorer as the problem occurs
![image](https://user-images.githubusercontent.com/34408442/43249449-fb045e4e-90ba-11e8-88d6-57a67c977a25.png)

[2018-07-26 17:09] Jinhuafei commented on #57
VBCSCompiler.exe is the Roslyn compiler service process which is used to do asp.net runtime compilation. You can kill this process before publishing, or use [CheckIfShouldKillVBCSCompiler](https://github.com/aspnet/RoslynCodeDomProvider/blob/master/src/Packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props) in [sitename].publishpr

[2018-07-27 02:42] chucklu commented on #21
Hi @Jinhuafei ,
    It did not work with **asp.net webforms site** project even if I update the codedom version to 2.0.0 .
![image](https://user-images.githubusercontent.com/3004057/43298592-3756967c-9189-11e8-8fe8-77d78979d553.png)

     When I build the website, the NuGet won't copy the roslyn folder to bin folder.

[2018-07-27 11:37] dreschner commented on #57
Ahh, so, it is necessary to include CheckIfShouldKillVBCSCompiler in the MSBuild pipeline? I thought that it would be done automatically by RoslynCodeDomProvider at buildtime or before/while publishing! Will try that then.

[2018-07-27 12:09] dreschner commented on #57
Hmm, but I'm a little bit unsure if it shouldn't work anyway. We have the publish settings in our csproj file, and in there, we have

`<Import Project="..\..\packages\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0\build\net46\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props" Condition="Exists('..\..\packages\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0\build\net46\Mic

[2018-07-27 14:04] dreschner commented on #57
Ahh, I see what you mean!

In CheckIfShouldKillVBCSCompiler, you check if the VBCSCompiler in $(RoslynToolsDestinationFolder) will be overwriten. As $(RoslynToolsDestinationFolder) is C:\Dev\Project\Source\Web\bin\roslyn\ it will check against our build folder, where File.Exists(Src) && File.Exists(Dest) && (File.GetLastWriteTime(Src) != File.GetLastWriteTime(Dest)) will only be true if we update

[2018-07-27 16:18] Jinhuafei commented on #57
If there is csproj file under your web app folder, then this is a web application project(not web site project). For web application project, you don't need *.publishproj file, because the publishing task can be put into the csproj.
I wasn't able to repro the issue. Can you provide publish msbuild log? Maybe I can make some change to fix the problem.

[2018-07-27 16:18] #56 closed

[2018-07-27 18:45] dreschner commented on #57
Ahh, yeah, sorry for the confussion by my little mistake!

I've reproduced it once more and add you a build log from visual studio. As I don't want to show the customers name, I've replaced all "dangerous" informations with Amstrad. Hope that it's still readable.

[buildlog-vbcscompiler-problem.txt](https://github.com/aspnet/RoslynCodeDomProvider/files/2236870/buildlog-vbcscompiler-problem.txt)

[2018-07-27 20:40] Jinhuafei commented on #57
Thanks for the log file. I'll take a look and see what I can do.

[2018-07-30 16:00] dreschner commented on #57
Had the described error message right now. Here is a screenshot of the error and the msbuild log. Hope that you have a better solution in the long term.

![object-error](https://user-images.githubusercontent.com/34408442/43408642-295a2412-9422-11e8-8842-57410c32731b.png)
[msbuild-object-error.zip](https://github.com/aspnet/RoslynCodeDomProvider/files/2241922/msbuild-object-error.zip)

[2018-07-31 19:14] sabmah opened #58 "Rosyln files locked during deployment(msdeploy) and fails with ERROR_FILE_IN_USE"
**Version Used**:

- MVC 5
- .Net version 4.6.1
- Microsoft.CodeDom.Providers.DotNetCompilerPlatform 2.0.0
- Microsoft.Net.Compilers 2.8.2

- Windows Server 2016
- IIS 10.0.14393.0
- TeamCity 2018.1

**Steps to Reproduce**:
NOTE: I'm doing all this from TeamCity CI
1. Build and Deploy MVC5 project with roslyn compiler to IIS
2. Once step 1 is deployed, Deploy again (occasionally its successful and

[2018-07-31 19:15] sabmah commented on #58
Posted here according to this thread: [https://github.com/dotnet/roslyn/issues/28856#issuecomment-409295213](url)

[2018-08-01 12:25] dlumpp commented on #8
I don't know if there are plans to address this but I just want to add that I lost a lot of time troubleshooting a 3rd party closed source library that was broken only when referenced in an MVC project because of this issue. I would have never figured it out if this issue hadn't come up in my searching.

I agree with @niemyjski , it doesn't seem right to expect every library to take a dependency o

[2018-08-01 20:06] willbush opened #59 "TreatWarningsAsErrors set as true ignored"
Looks like line 170 in: https://github.com/aspnet/RoslynCodeDomProvider/blob/707c08cf1ea8947548da316a0891213578b1779a/src/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/Compiler.cs

Is setting the `TreatWarningsAsErrors` as false and thus setting it to true has no effect.

The following code is an example of some code that should have two warnings that ought to cause an error when TreatWarning

[2018-08-03 12:38] dreschner commented on #57
I have problems at the moment even with my workaround. I'm a little bit confused what does fail here...?

Here is the log:
[msbuild-with-workaround.txt](https://github.com/aspnet/RoslynCodeDomProvider/files/2257364/msbuild-with-workaround.txt)

[2018-08-03 21:57] dreschner commented on #58
Looks like we have the same problems with nearly the same configurations. Except that we don't use TeamCity when the problem occours and that we publish to our local IIS on the same machine.

https://github.com/aspnet/RoslynCodeDomProvider/issues/57

[2018-08-06 17:30] Jinhuafei commented on #58
Asp.net runtime compilation uses the Roslyn compiler under bin\roslyn folder to do the dynamic compilation. Based on the error, it looks like that asp.net was compiling the views when you were trying to deploy the app to the IIS.

One option is to fully pre-compile the views on the CI machine, so that you don't need to publish Roslyn compiler files.

[2018-08-06 17:41] Jinhuafei commented on #57
As I mentioned in issue #58, the VBCSCompiler.exe process is started by asp.net to do the runtime compilation on the web server which fails the publish because of the file lock. The workaround is only for the lock issue at build time on your dev box or CI box. If fully pre-compiling the views is not an option for you, you may consider to specify the TTL of Roslyn compiler server(you can find more

[2018-08-14 23:04] sabmah commented on #58
Can Roslyn compiler be killed on deploy? Currently, there is no option to kill roslyn compiler from msdeploy or msbuild

[2018-08-15 04:15] Jinhuafei commented on #58
msdeploy won't be able to stop Roslyn compiler on the web server. You can set environment variable VBCSCOMPILER_TTL to reduce TTL of Roslyn compiler process.

[2018-09-12 05:04] binki opened #61 "Targeting .net-4.5 results in being stuck with ancient compiler only supporting csharp-6"
If I install `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` into a project targeting .net-4.5.2 with `LangVersion` set to `latest`, I get this error when my project compiles:

I can easily target .net-4.5.2 with a modern compiler when not using `Microsoft.CodeDom.Providers.DotNetCompilerPlatform`—i.e., when using visualstudio’s built-in compiler. However, I need to use `Microsoft.CodeDom.Pro

[2018-09-13 17:26] Jinhuafei commented on #61
@binki can you check if your project still has Microsoft.Net.Compilers nupkg? Microsoft.Net.Compilers nupkg will make msbuild to use the Roslyn compiler from the Microsoft.Net.Compilers instead of the one shipped with VS.

[2018-09-13 17:38] Jinhuafei commented on #52
@dreschner The fix is included in 2.0.1 release.

[2018-09-13 17:38] #52 closed

[2018-09-13 20:54] binki commented on #61
@Jinhuafei When I was experiencing the problem, I tried adding `Microsoft.Net.Compilers-2.9.0` because I hoped that it would override the Roslyn compiler with one that could handle `/langversion:latest`. But that didn’t change anything.

However, now when I try to reproduce this issue, I don’t see that happening at all. In fact, I can’t get the issue to happen again, even after trying a few things

[2018-09-13 20:54] #61 closed

[2018-09-18 19:42] DeadX07 opened #62 "Roslyn files are not copied to bin\ during a MVC 5 publish operation."
We are using TeamCity 2017.2.3 (build 51047) and the MSBuild configuration step to perform a publish operation on our website. After migrating our project from Microsoft.CodeDom.Providers.1.0.8 to 2.0.0 and packages.config to PackageReference, the publish operation quit publishing the roslyn folder in the bin directory.

See also:
https://stackoverflow.com/questions/52321224/roslyn-not-copied-to-b

[2018-09-20 17:11] Jinhuafei commented on #62
Thanks @DeadX07 . We will investigate the issue.

[2018-09-26 08:28] ststeiger opened #64 "Missing F# Provider"
It's missing a F# Provider.
There's a VBCompiler and a CSharpCompiler.
[code]

Where is the F# Compiler ?

[2018-10-02 18:29] MgSam commented on #38
Can you add a method to `CSharpCodeProvider` that lets you specify the compiler path programmatically?

[2018-10-02 18:49] Jinhuafei commented on #62
@DeadX07 We couldn't repro the issue in-house. Is it possible to share your failed build log?

[2018-10-02 18:52] #58 closed

[2018-10-02 18:52] #57 closed

[2018-10-02 18:57] Jinhuafei commented on #38
@MgSam CSharpCodeProvider is public now in 2.0.1 version. You can pass an ICompilerSettings to the constructor to specify the compiler location. See [this PR](https://github.com/aspnet/RoslynCodeDomProvider/pull/55).

[2018-10-02 19:14] MgSam commented on #38
@Jinhuafei Thanks. That's very helpful. Two related questions:
1. Is there a public implementation of `ICompilerSetings`? It seems weird that it is public but `CompilerSettings` is not.
2. What is the default value for `compilerServerTimeToLive`?

[2018-10-02 20:36] Jinhuafei commented on #38
1. default is 10 sec on the server and 10 min on dev box(VS environment).
2. yea, we missed that. Will be addressed in [this PR](https://github.com/aspnet/RoslynCodeDomProvider/pull/63).

[2018-10-05 10:02] voiplab commented on #52
@Jinhuafei this fix doesn't work fine. We still have got the same error time after time while build solution

`Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1\build\net46\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props(36, 5): Object reference not set to an instance of an object.`

[2018-10-05 16:36] Jinhuafei commented on #52
@voiplab Do you have repro steps for the issue?

[2018-10-08 13:55] DeadX07 commented on #62
Here are the TC logs. The build succeeds, but it never copies the files and I can't find a reference in the logs where this would happen

----------------------------------------
From: Jinhuafei <notifications@github.com>
Sent: 10/2/18 12:54 PM
To: aspnet/RoslynCodeDomProvider <RoslynCodeDomProvider@noreply.github.com>
Cc: DeadX07 <danderson@dcomengineering.com>, Mention <mention@noreply.github.co

[2018-10-18 22:00] MelbourneDeveloper opened #65 "Metadata file System.Runtime.dll could not be found"
@Jinhuafei

We use the VB and C# Code Dom Providers in our ASP.Net Core app (.NET Framework). The issue is that when we attempt to compile using the provider, it looks for System.Runtime.dll in an almost random location. Every time we go to compile, the location shifts to a new location. So, we have to continuously create folders and move System.Runtime.dll in there. It doesn't matter if we includ

[2018-10-18 23:57] Jinhuafei commented on #65
@MelbourneDeveloper you are using DotNetCompilerPlatform nupkg in your asp.net core app to dynamically generate/compile your code? If so, the problem may be caused by [this line of code](https://github.com/aspnet/RoslynCodeDomProvider/blob/12975a5a1616dbefac02ba8113204b59cba7eeec/src/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/CSharpCompiler.cs#L114). You can comment it out and give it try

[2018-10-18 23:58] Jinhuafei commented on #64
@ststeiger Thanks for your feedback. Currently we don't have plan to add F# provider.

[2018-10-19 04:15] MelbourneDeveloper commented on #65
@Jinhuafei yes. That certainly looks like the bug. I will try it out.

[2018-10-19 09:41] ststeiger commented on #64
@Jinhuafei: Thanks for the answer.
I'll re-translate this to:
There is none - not now and not in the future either.

[2018-10-19 09:41] #64 closed

[2018-10-26 07:36] AceCoderLaura commented on #65
When is this bug going to get fixed? How do I track the progress of bug 913691? This bug is serious and I can't even downgrade System.Runtime to 4.0.0.0 in my project to pander to this hack! I downgraded the reference in my solution but version 4.1.2.0 is outputted to the bin folder. I've tried to fix my build's reference resolution with a binding redirect but it doesn't work! What can I do withou

[2018-10-31 02:40] AceCoderLaura commented on #65
TargetFramework is net461.
We use RoslynCodeDomProvider to compile code that is stored in our server-side database.
We only reference one version of System.Runtime (Version=4.0.0.0, PublicKeyToken=b03f5f7f11d50a3a) in our server-side application but what we reference is not necessarily what gets outputted at compile time due to binding redirects generated by AutoGenerateBindingRedirects.

[2018-11-05 11:27] KubaOczko opened #66 "Roslyn folder not copied to the \bin in Visual Studio"
If you open a web project in Visual Studio (tried with VS 2017 15.8.9)  without restored nuget packages the roslyn folder isn't copied after build. It seems that RoslynToolPath property defined in Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props is not re-evaluated on each build.

STR:
- Open following "empty" solution with one web project.
 [Solution1.zip](https://github.com/as

[2018-11-12 03:46] MelbourneDeveloper commented on #65
@Jinhuafei

-  Is it asp.net core app or the full framework asp.net app?

Full framework.

- Are you using Codedom provider package to generate/compile your own code?

We are using Microsoft.CodeDom.Providers.DotNetCompilerPlatform NuGet package

-  Do you reference another version of system.runtime in your project?

We've tried both not referencing the DLL, and referencing it from multiple places

[2018-11-28 11:40] BrightLight commented on #65
The [same line](https://github.com/aspnet/RoslynCodeDomProvider/blob/12975a5a1616dbefac02ba8113204b59cba7eeec/src/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/CSharpCompiler.cs#L114) is giving me headaches as well. We have a VSIX that adds a custom project type to Visual Studio. It references the RoslynCodeDomProvider package to generate an assembly. The target framework of that assembly is

[2018-12-13 07:34] pantosha opened #67 "Update the Microsoft.Net.Compilers version to 2.10.0"
The version 2.10.0 of the Roslyn compilers was released. It makes sense to update RoslynCodeDomProvider too.

See:
https://www.nuget.org/packages/Microsoft.Net.Compilers/
https://github.com/dotnet/roslyn/issues?q=is%3Aissue+milestone%3A15.9+label%3AArea-Compilers+is%3Aclosed

[2018-12-28 19:38] maxtoroq commented on #67
Is anyone listening?

[2019-01-21 09:34] cmlr72 opened #83 "Support csc.exe path configuration via standard provider options in web.config/app.config"
The roslyn compiler path should be configurable via documented configuration settings instead of internal implementation details like environment variables.
The [providerOption](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/compiler/provideroption-element) element under system.codedom/compilers/compiler is officially documented and also used by the integrated CodeDom

[2019-01-21 09:41] cmlr72 commented on #83
Same for TTL-Option

[2019-01-30 13:27] rubenmamo opened #84 "Upgrading Microsoft.CodeDom.Providers.DotNetCompilerPlatform to version 2.0.1 causes CVE-2017-0248 to be reported by WhiteSource Bolt"
I added WhiteSource Bolt to my Azure DevOps pipeline and noticed that it was reporting CVE-2017-0247, CVE-2017-0248, CVE-2017-0249 vulnerabilities after I upgraded the Microsoft.CodeDom.Providers.DotNetCompilerPlatform nuget package from version 2.0.0 to 2.0.1

The issue is being caused by an old version of System.Net.Http (4.6.24705.1) being included in the bin\roslyn folder.

To keep it simple I

[2019-03-01 20:15] brian-pickens-web opened #85 "Rosyln .refresh files in in asp.net bin folder not copying over .dll files"
Hello,

This issue may not belong here. If not please help me find the right place to put it.

I'm working with an ASP.NET website project, and trying to only check-in the .refresh files into source control. The problem is that it doesn't appear that the .refresh files in the /bin/rosyln directory are being invoked to restore the .dll's, and so fresh builds are failing. At this point I feel I'm go

[2019-03-14 08:54] MasihAkbari commented on #66
why this issue is not fixed already? it's been on and off on each release and now it's not working again in release 2.0.1

simple workaround is this command after build and restore nuggets:
`Update-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -r`

[2019-03-19 00:07] larenelg commented on #33
This also works if you're getting the error on Build on Macos running Rider. (Rider uses Mono for MSBuild)

[2019-03-25 23:52] gregpakes commented on #85
I have the same question

[2019-03-27 17:16] akousmata commented on #33
I did this with the latest version (2.10.0) in VS 2017 and it also worked, can anyone from the MS team comment as to why?  My PC runs just fine without this package reference, but another developer at my firm gets this error.  It seems that the only difference between our PCs is that he installed 2.2.105 of the .Net Core SDK whereas the entire project was started on 2.2.103 (I don't yet have 105 i

[2019-03-28 07:51] FSDKO opened #86 "Obsolete Warnings 612, 618 are disabled in csharp"
The method `CSharpCompiler.FixUpCompilerParameters(CompilerParameters)` adds the Argument `/nowarn:1659;1699;1701;612;618` to the compile parameters. So the both Obsolete warnings 612 and 618 are suppressed.
I have no chance to enable these warnings.

Btw - so the content of the CompileParameters instance, given to `CSharpCodeProvider.CompileAssemblyFromFile(..)`, is modified - EACH time I give th

[2019-04-11 21:56] dmarlow commented on #13
Ran into this with `/p:DeployOnBuild=true` and a publish profile. Not too keen on using the hack (how is that even referenced anyways?)

[2019-05-13 19:15] chbohm commented on #53
Hi harrisse.... I am having exacly the same error message. Could you find a fix for this? It has passed one year.... I hope you remember!

[2019-06-04 05:31] WeihanLi commented on #51
Any update here?

[2019-06-06 09:11] newclaus commented on #62
I have the same problem. It reproduces only when project is published in TeamCity. At the same time if I publish the project using the same msbuild version on the same build machine but in command line - it works. I have no idea why TeamCity works in other way but it always skips all msbuild targets from the package

[2019-06-06 09:25] newclaus commented on #62
@DeadX07 have you found any workaround?

[2019-06-12 13:51] DeadX07 commented on #62
I believe we solved it by using the x86 msbuild runner instead of x64 if i recall correctly

Get Outlook for Android

On Thu, Jun 6, 2019 at 3:25 AM -0600, "newclaus" <notifications@github.com> wrote:

@DeadX07 have you found any workaround?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-08 15:01] WolfgangHG commented on #8
Had the same issue when trying to migrate an old CodeDomProvider app to roslyn (WinForms application, no web assemblies references), and found this issue.

My workaround was to add "define _MYTYPE=Custom" to the compiler parameters:

`compilerParameters.CompilerOptions = $"/optionexplicit+ /optionstrict+ /debug- /debug:pdbonly /define:_MYTYPE=\\\"Custom\\\"";`

It seems to work after doing this.

[2019-09-09 13:20] medianick commented on #84
We found the same, upon starting to use WhiteSource scanning against a .NET 4.7 project that incorporated Microsoft.CodeDom.Providers.DotNetCompilerPlatform 2.0.1. It seems the 2.0.0 version does not include System.Net.Http.dll at all, which avoids having WhiteSource detect it as vulnerable.

https://github.com/dotnet/corefx/issues/25050#issuecomment-341803990 describes that the out-of-band (NuGet

[2019-10-02 01:07] gregpakes commented on #67
Doesn't look like anything has happened on this repo in over a year.

[2019-10-15 09:59] f3rchu opened #88 "Rosyln files locked during publishing"
I have roslyn DotNetCompilerPlatfrom v2.0.1 in my WebAPI 2 project from .Net Framework 4.7.2
and sometimes when i publish my project, this error is shown:

To solve it and allow me to publish my project, I have to reboot my computer. A few publications works, but when this error appears, I can't publish again until the computer restarts.

Update 18/10/2019: I can solve it installing v2.0.0 and rei

[2019-10-31 16:32] StephenMolloy commented on #85
This unfortunately can't be fixed with the way this nuget package is structured. Because our nuget packages carries the roslyn binaries directly rather than via nuget reference, we need to be responsible and put them in a subdirectory rather than directly in 'bin'. However, Visual Studio only looks for .refresh files at the root of the bin directory, and not in any subdirectories. Additionally, nu

[2019-10-31 16:32] #85 closed

[2019-10-31 17:32] #27 closed

[2019-10-31 21:13] StephenMolloy commented on #62
I can't tell 100% by the details in the bug, but it looks like this is a project with csproj/msbuild support, so I think this is fixed by #87.

[2019-10-31 21:13] #62 closed

[2019-10-31 21:17] StephenMolloy commented on #85
A little further explanation. We need to include the roslyn binaries directly in the Microsoft.CodeDom.Providers.DotNetCompilerPlatform package because using the nuget dependency method was causing problems for visual studio. Apparently installing the compilers package properly also installs various .props and .targets files which mess with performance and features for more than just the web proje

[2019-10-31 21:18] StephenMolloy commented on #66
Should be fixed with #87.

[2019-10-31 21:18] #66 closed

[2019-10-31 21:29] StephenMolloy commented on #67
Done in #67.

[2019-10-31 21:29] #67 closed

[2019-11-01 14:22] brian-pickens-web commented on #85
Thanks for the great explanation. So it sounds like this is actually something that Visual Studio team should resolve by enabling .refresh files to execute in subdirectories.

We ended up opting to check in the binaries as a work around for our website.

[2019-11-08 23:21] StephenMolloy commented on #53
I believe #92 should fix this

[2019-11-08 23:22] StephenMolloy commented on #51
I believe #92 will address this issue.

[2019-11-09 00:02] StephenMolloy commented on #84
System.Net.Http isn't directly used by DotNetCompilerPlatform. We don't explictly include this assembly in our nuget package. It actually is included as part of the menagerie of assemblies downloaded by the Microsoft.Net.Compilers nuget package. For various performance and compatibility reasons, we need to include those binaries directly in our package rather than pulling them in via a nuget depen

[2019-11-09 00:02] #84 closed

[2019-11-09 00:58] StephenMolloy commented on #65
Apologies for the long delay on this one. Matt has moved on to a different team and I am just not getting to look at this repo.

Is this still an issue for folks using version 2 of this package? Has anybody been able to capture a fusion log when the attempted load of System.Runtime.dll happens?

[2019-11-22 04:06] MRatnam opened #93 "Poor performance of DotNetCompilerPlatform.CSharpCodeProvider CompileAssemblyFromSource"
Straight port of DotNetCompilerPlatform.CSharpCodeProvider CompileAssemblyFromSource call now takes over 2200ms to execute when the previous code using Microsoft.CSharp.CSharpCodeProvider takes around 150ms. csc.exe file version is 2.9.0.63208.

[2019-11-25 00:35] MRatnam opened #94 "Go to implementation doesn't work with built source and pdb"
Go to implementation doesn't work with built source and pdb. Visual Studio says The symbol has no implementations. The modules dialog shows the correct newly generated DLL is referenced and symbols are loaded.

[2019-11-25 02:57] MRatnam commented on #93
csc.exe is an older version. Replacing with newer seems to address the issue.
https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform

[2020-01-03 00:29] #93 closed

[2020-01-14 10:02] stevenvolckaert opened #95 "Update bundled csc.exe to v3.4.0 to enable C# 8.0"
We use NuGet package [Microsoft.CodeDom.Providers.DotNetCompilerPlatform v2.0.1](https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/2.0.1) to provide ASP.NET runtime compilation with C# 7.3 support in an ASP.NET Web Site Project (WSP).

This package comes bundled with Roslyn v2.9.0 (`csc.exe` product version = `2.9.0-beta8-63208-01`).

We'd like to enable ASP.NET run

[2020-01-24 13:31] stevenvolckaert commented on #95
@Jinhuafei Is this repo under active development? Perhaps there is an alternative for using `Microsoft.CodeDom.Providers.DotNetCompilerPlatform`?

Thanks!

[2020-01-26 13:22] niemyjski commented on #66
Can we get a new release so we can try out these changes...

[2020-01-26 13:23] niemyjski commented on #66
I hope this will resolve our issue where our VS Package wasn't including the roslyn folder in the VSIX.

[2020-01-26 18:26] imranbaloch opened #96 "The compiler failed with error code -532462766"
Moved from https://github.com/dotnet/roslyn/issues/41223

We have an ASP.NET MVC 5.x application was running perfectly on Windows Server 2008 R2. We upgraded to Windows Server 2012 R2 (.NET Framework 4.7 installed). Doing so, application crashed in with compilation error `The compiler failed with error code -532462766`.  We are using the latest version of DotNetCompilerPlatform version 2.0.1.0. Al

[2020-02-05 07:48] karthiRajendran commented on #84
Still i'm getting the same vulnerabiltiy issues regarding microsoft.codedom.providers.dotnetcompilerplatform.2.0.1.
Please reply if anybody have any idea.

[2020-02-20 09:35] remcoros commented on #95
We also like to know if this package will be updated and maintained, or should we invest in maintaining our own copy with updated roslyn?

[2020-02-20 18:33] reynojh opened #98 "Asp.Net Web Forms Site does not create Roslyn directory under bin folder"
We have a large application and a number of smaller apps that were based on Web Site Projects that do not contain a project file, that we cannot get the new Roslyn Compiler enabled for it.   Its not feasible to retro those sites into Web Applications, so we are looking for a way to use Roslyn with the existing projects.

We are using Visual Studio 2019, and when we enable c# 6+ support it adds the

[2020-02-20 21:42] reynojh commented on #98
The options of using a Fully Qualified directory path are problematic as well.  Our build servers don't always have a consistent path.  Our Local Debugging could happen and be ran from any one of our 45 environments  Drive:\Project\Release Drive:\Project\Feature Drive:\Project\Dev.

[2020-02-23 14:21] vcarlucci opened #99 "C# 6 or higher allows property inline initialization, which produces CS1519 compiler error"
Following two examples showing a property declaration, part of a class. The class will be assigned as string to the compiler, which should build a class library .dll.

Property declaration working without compiler error:
`public string Name { get; set; }`

Property declaration gives compiler error CS1519:
`public string Name { get; set; } = “Joel“;`

Used NuGet: Microsoft.CodeDom.Providers.DotNetC

[2020-02-26 08:43] MatthijsKrempel commented on #95
I have a PR open with the updated 3.4.0 version of the compilers, need a review on it ;)

[2020-03-04 20:09] StephenMolloy commented on #88
The error is coming from the publishing destination, and it indicates that we cannot update some roslyn binaries because they are in use. This is probably because the act of publishing is causing ASP.Net to recompile... but it starts recompiling before you're done publishing.  I would expect this error to be intermittent and not require a reboot of your source PC or re-install of any nuget package

[2020-03-04 20:09] #88 closed

[2020-03-06 00:57] StephenMolloy commented on #51
Should be fixed by #92

[2020-03-06 00:57] #51 closed

[2020-03-06 00:58] StephenMolloy commented on #53
Should be fixed by #92

[2020-03-06 00:58] #53 closed

[2020-03-06 01:12] StephenMolloy commented on #95
Please note that C# 8 is not officially supported on .Net 4.8 and earlier. Many features will probaly work fine, but this is not a recommended configuration to use C# 8 on "desktop" ASP.Net.

In the interest of keeping up with current compilers that support C# 7.3, PR #97 should address this and allow you to experiment with newer versions of C#.

[2020-03-06 01:12] #95 closed

[2020-03-07 14:12] stevenvolckaert commented on #95
Thanks @MatthijsKrempel for the PR! 👌❤
Thanks @StephenMolloy for the info!

[2020-04-15 06:19] mehulparmariitr commented on #84
Hello is there any fix for it now? I have consumed Microsoft.CodeDom.Providers.DotNetCompilerPlatform package in ASP.Net web API with .NetFramework version 4.7 and getting the same issue.

[2020-04-27 22:49] StephenMolloy commented on #99
Are you still seeing this issue?

Are the Roslyn CodeDom providers correctly registered in the <system.codedom> section of your config file? If you target .Net 4.5, you should be getting C#6 semantics. Targeting 4.6 or later should get you the "default" language version for the target platform, which is C# 7.3. I don't see any reason you wouldn't be able to use C# 6 features with these packages.

[2020-05-15 18:02] StephenMolloy commented on #8
I believe this should be fixed in 3.5 with #102. We will still muddle the compiler options when running in ASP.Net by default, but using the codedom providers directly should turn that off. Or you can explicitly decide to turn this ASP.Net magic stuff on or off with a provider option. (See the updated Readme.md for details.)

[2020-05-15 18:02] #8 closed

[2020-05-15 18:04] StephenMolloy commented on #28
Borrowing a feature from Microsoft.Configuration.ConfigurationBuilders... this should be "fixed" by #104. The fix is to temporarily store config information when this package uninstalls, so it can be reused when reinstalling. However, since 2.0.1 didn't have this ability, your initial upgrade to 3.5 will still see this issue. Re-installing or upgrading after your first 3.5 install should not hit t

[2020-05-15 18:04] #28 closed

[2020-05-15 18:07] StephenMolloy commented on #59
Fixed by #102. I believe we still override `CompilerParameters.TreatWarningsAsErrors`, but we override it with the value of `WarnAsError` codedom provider option. See the updated Readme.md for 3.5 to learn more about using codedom provider options.

[2020-05-15 18:07] #59 closed

[2020-05-15 18:08] StephenMolloy commented on #65
We just published an updated 3.5-preview1 build. Does this issue still affect anybody?

[2020-05-15 18:09] StephenMolloy commented on #83
<providerOption> support was added in 3.5 with #102.

[2020-05-15 18:09] #83 closed

[2020-05-15 18:11] StephenMolloy commented on #86
In an ASP.Net scenario, we magically add these warnings to be ignored. If you're calling into the codedom providers directly, then this is probably turned off by default and the compiler options you see in config are what you get. Either way, you can turn off the ASP.Net-style argument manipulation with the `UseAspNetSettings` provider option introduced in version 3.5. (PR  #102)

[2020-05-15 18:11] #86 closed

[2020-05-15 18:12] StephenMolloy commented on #94
We just published a 3.5-preview1 package with a new symbol package format. Is this still an issue with the current preview package?

[2020-05-15 18:13] #99 closed

[2020-05-15 18:14] StephenMolloy commented on #96
Does this still reproduce with the lastest 3.5-preview1 package?

[2020-05-15 22:58] MRatnam commented on #94
Hi Stephen thanks will give that a go in the next few days.

[2020-05-17 10:17] imranbaloch commented on #96
I don't know but after updating the framework and updating the application framework may times the error disappeared.

[2020-05-21 19:21] GGY-CM opened #107 "Outdated DLL libraries"
Please refer: https://developercommunity.visualstudio.com/content/problem/689089/outdated-dll-libraries-in-microsoftcodedomprovider.html

Please check the following folder

Microsoft.CodeDom.Providers.DotNetCompilerPlatform.3.5.0-preview1\tools\Roslyn46

Many DLLs here are really really old, 2016-11-15. the problematic DLL I mentioned still

4.6.24705.1 (digital signed on Nov 5, 2016, version 4.3.

[2020-05-22 00:09] StephenMolloy commented on #107
I responded to the Developer Community issue, but I'll copy the response here as well for visability:

Beginning with Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0, we have had to package Roslyn binaries directly in our nupkg. We had to do this to avoid conflict with Visual Studio and how it uses Roslyn compilers. For compatibility reasons, we continue to ship with older versions of the

[2020-05-22 00:09] #107 closed

[2020-05-22 04:14] StephenMolloy opened #108 "/langversion not updated when retargeting a project"
If your project changes the target framework, you get an error/warning in VS indicating you should update this package (uninstall/reinstall) in response to the retargeting. Doing so updates the targets files that we include in the project build dependencies, and will result in deploying the correct Roslyn folder for the new target framework... but it does not update any of the 'compilerOptions' in

[2020-05-22 04:17] StephenMolloy opened #109 "/langversion should be 7.3, not default"
With Roslyn 3.5, the C# '/langversion' compiler option should be set to '7.3' instead of 'default', as the latter implies C# 8.0 which is not supported on full framework. VS is smart enough to handle this situation I think, but when compiling asp.net websites at runtime (or with aspnet_compiler.exe) this could result in some confusion.

[2020-06-21 11:05] iyusuboff commented on #51
why there is the c# and .net shit, when there are so many cool languages

[2020-06-26 07:25] InfoHunt commented on #84
I know this issue was closed a while ago, but I am having the same issue(s) running a classic MVC 5 application using Net 4.8 (I upgraded all packages yesterday (meaning yesterday when this comment was written). This issue/report was the only reference I could find. Any hints how to get rid of these warnings in WSB?

[2020-07-01 01:28] StephenMolloy commented on #109
Fixed with #110

[2020-07-01 01:28] #109 closed

[2020-07-01 01:32] StephenMolloy commented on #108
I can see arguments on both sides. If we pick one, the other side will be unhappy. Do we leave it alone so we don't change too much of what people are expecting? Do we want to update automatically to give folks the best developer experience with minimal hassle? Should we only update if we detect a default version being used? And how would we even know that, since we don't know what version is we a

[2020-07-01 01:32] #108 closed

[2020-07-01 01:32] StephenMolloy commented on #65
Closing old, inactive bugs.

[2020-07-01 01:32] #65 closed

[2020-07-01 01:33] StephenMolloy commented on #94
Closing old, inactive bugs.

[2020-07-01 01:33] #94 closed

[2020-07-01 01:33] StephenMolloy commented on #96
Closing old, inactive bugs.

[2020-07-01 01:33] #96 closed

[2020-07-09 10:15] stefankip commented on #98
I run into this same issue as well using Web Application projects (Umbraco). Cloning the project from git, restoring nuget packages and building the project doesn't create the `roslyn` folder inside the `bin` folder.

[2020-07-09 20:28] StephenMolloy commented on #98
I have left this issue open, because it is a legitimate concern for folks using the "Web Site" option in VS, and I do like to come back and think about it with a fresh mind every now and then. But this is unlikely to be fixed in any way. Since "Web Sites" are project-less, they do not work with MSBuild like all other project types, and we rely on MSBuild to handle placement of the correct roslyn b

[2020-07-10 07:02] stefankip commented on #98
I see you guys talking about Web Site projects, but what about Web Application projects? It shouldn't be a problem for those? Because I do have this issue with web app projects.

[2020-07-10 07:08] StephenMolloy commented on #98
@stefankip, "Web Application" projects should work. Have you tried updating to the just-released 3.6.0 package? Does that not work for you? Please feel free to open a separate issue if you're finding issues with 3.6.0 in a Web Application project.

[2020-07-10 07:13] stefankip commented on #98
Hmm it's at 2.0.1 currently. Think that's the default version Umbraco uses (or some other package).
I'll use 3.6.0 from now on and guess the issue will be gone.

[2020-07-10 07:39] StephenMolloy commented on #98
Well, 3.6.0 was just released yesterday. And it's the next 'release' version after 2.0.1.  I wouldn't expect any major apps to have updated yet. ;)

Anyway, I would expect to not see this particular issue described above with Web Application projects in 2.0.1 either. But there have been quite a few changes here and there between the two versions. Before digging into what might be causing your issu

[2020-07-16 00:18] gregpakes opened #112 "Noob Question about .Net 4.8"
I am targeting .net 4.8.  if I want to use c# 6+ features in my razor views, do I need this package?

I am confused as to why I need this package if I am targeting 4.8.

[2020-07-16 03:07] StephenMolloy commented on #112
TLDR - Yes, you probably need this package.

The C# compiler that ships "in box" with the .Net framework hasn't been updated with new features in years. The compiler team decided long ago that it would be better to ship out of box on a different cadence independent of the long lifecycle of the .Net Framework at that time. Even the csc.exe that comes "in box" with .Net 4.8 only supports up to C#5.

[2020-07-16 03:07] #112 closed

[2020-07-20 08:42] WolfgangHG opened #113 "[3.6.0] Missing entry "aspnet:RoslynCompilerLocation" in app.config causes compile to fail"
When upgrading our exisiting projects to 3.6.0, I noticed that this line in "app.config" was removed:

`  <appSettings>
    <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
  </appSettings>`

This causes our app to fail with a "System.IO.DirectoryNotFoundException":
"Ein Teil des Pfades "C:\Temp\RoslynTest\RoslynTest\bin\Debug\bin\roslyn\vbc.exe" konnte nicht gefunden werden."
(translated

[2020-07-20 11:17] stefankip commented on #98
I'm currently even unable to reproduce it with v2.0.1 to be honest.
Did a clean clone of one of my repos, but the roslyn folder gets restored fine right now, so I guess this can be closed safely :-)

[2020-07-22 09:12] UweKeim commented on #67
For anyone coming here with this error message:

I had to delete an old "bin\Roslyn" folder in my Web Application to make this work, as it seems that the newer Microsoft.Net.Compilers NuGet package (3.6.0 in my case) does not bring a its own "Rosyln" folder anymore, and if present, that old "Roslyn" folder took precedence during compilation.

See also [this related Stack Overflow question](https:/

[2020-07-23 03:27] StephenMolloy commented on #67
@UweKeim, This definitely shouldn't be the case, and I'd like to help figure out what is happening in your situation. This package has included packaged versions of the Roslyn binaries since v2.0 and should still be copying the appropriate new binaries to the 'bin\Roslyn' folder when the project is built.

The way this works is using a .targets file when compiling your project. By referencing this

[2020-07-23 10:46] UweKeim commented on #67
Thanks, @StephenMolloy I've took a look again, and now there _is_ a "Roslyn" folder again. I think I'm going crazy. Last time there wasn't, I swear!

Could it be related to the fact that I not only do my NuGet updates inside Visual Studio but also sometimes from command line via the NuGet client?

I've [read somewhere](https://stackoverflow.com/q/15474452/107625) that when doing from a NuGet updat

[2020-07-23 23:08] StephenMolloy commented on #67
The fact that you had "/langversion:7.3" in your config says that the install scripts for the new package version ran correctly. The copying of roslyn files to the 'bin\Roslyn' directory though is not done by nuget scripts. Instead, it is done at compile time for the project via that *.targets file I mentioned. It does it this way because people don't want to check the 'bin' folder and all those s

[2020-07-24 04:59] UweKeim commented on #67
@StephenMolloy While the copying is not done by nuget scripts, isn't the _inserting_ of the targets into the CSPROJ done by nuget scripts?

[2020-07-24 05:18] StephenMolloy commented on #67
@UweKeim Not exactly. The import is added to the project file by nuget itself. In any case, the file does appear to be added to your project because the 'bin\Roslyn' folder was recreated after you deleted the old one. That's why I suspect that the old folder was causing an issue somehow. Everything else appears to be in place, but for some reason we were willing or able to overwrite the old 'bin\R

[2020-08-19 16:46] michaelakin commented on #51
I guess this error in a VS 2019 project when I compile from the command line on a 2.2 and 3.1 project, but if I change the configuration to "Release it builds fine.

[2020-08-19 18:42] StephenMolloy opened #114 "Adapt to MSBuild "OutDir" parameter"
We have had a customer report through another channel that they had a project that would build correctly in VS, but in their CI/Deployment scenario. The reason was because they were building their deployment with the "OutDir" parameter specified for MSBuild. But I think we use "OutputPath" when deciding where to copy the Roslyn binaries. Hopefully there is a nicer way to handle this other than rec

[2020-08-30 19:19] elGuille-MVP commented on #113
The same compiling from a desktop application.
Adding this to App.config solves the issue (thanks Wolfgang :-) ).
    <appSettings>
        <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
    </appSettings>

Guillermo

[2020-09-07 11:32] MartinEgli opened #115 "Roslyn folder is not copied into the directory of application"
I use the nuget in a library. The Roslyn folder is not copied into the directory of my WPF application.

[2020-09-10 07:13] eltomjan opened #116 "The issue is that console apps (and probably WPF apps) don't define a "WebProjectOutputDir" and once I added it to the project file 1.0.8 now copies roslyn to the bin folder."
There was a typo @willbush's fix - missing (RoslyCompilerFiles) instead of RoslynCompilerFiles, fixed looks like this:

[code]

Btw my SampleWebApp.csproj from https://github.com/JonPSmith/SampleMvcWebApp
had this instead (placed Roslyn next2)
[code]

[2020-09-10 07:14] #116 closed

[2020-09-10 07:16] eltomjan commented on #21
There was a typo @willbush's fix - missing **n** in (RoslyCompilerFiles) instead of Rosly**n**CompilerFiles, fixed looks like this:

[code]

Btw my SampleWebApp.csproj from https://github.com/JonPSmith/SampleMvcWebApp
had this instead (placed Roslyn next2) and works without problems now:
[code]

[2020-11-03 07:56] k-eb opened #117 "System.CodeDom.Compiler.CompilerInfo.CreateProvider fails after upgrading Microsoft.CodeDom.Providers.DotNetCompilerPlatform from v1.x to v2.x or later"
In our project we use the Roslyn compiler via your Nuget package to **dynamically compile C# code** at runtime using the System.CodeDom API from .NET Framework's System.dll.
The initiating code looks like this:

[code]

After having ugpraded Microsoft.CodeDom.Providers.DotNetCompilerPlatform **from v1.0.7 to v2 and later**, `compilerInfo.CreateProvider` throws an exception saying **"This CodeDomPr

[2020-11-06 00:53] rolivares commented on #115
same thing here in MVC5 application on using deploy to publish.
multiple tips like reinstall or add custom publication files on AfterBuild does not works ...

any idea?

[2020-11-06 00:56] rolivares commented on #98
problem with my MVC5 app on publishing app (not on local debugging), foler is not copied. I'm using last version 3.6

[2020-11-26 09:14] Bonuspunkt opened #118 "C# 9 support"
are there any plans for a update?

[2020-12-01 02:07] StephenMolloy commented on #118
There is no refresh of this package on the immediate horizon. Additionally, the full 4.8 .Net Framework only officially supports C# 7.3. I do anticipate there will be periodic refreshes of the `Microsoft.Net.Compilers` package contained within this project when there is a compelling reason to do so, but even then, using the package 'as is' will only result in C# 7.3 for full framework projects.

O

[2020-12-01 02:07] #118 closed

[2020-12-03 18:25] Bonuspunkt commented on #118
since this took me way too long - some guidance:

- install `Microsoft.Net.Compilers.Toolset` package (`Microsoft.Net.Compilers` is deprecated)
- add following snippet to your `csproj` (path needs adaption to your project structure / package version)
[code]

[2020-12-04 00:41] StephenMolloy commented on #118
Please note that if you add the `Microsoft.Net.Compilers.Toolset` package directly to your project, there might be some affect in the Visual Studio design time experience. I don't recall the exact details because I was not the owner of this package when we made the change to ship the roslyn tools directly inside this package... but I believe the gist is that VS uses its own roslyn tools at design

[2020-12-06 17:09] mnoreen opened #119 "Adding to VS2017 website does not add rosyln to Bin directory"
Adding or even updating the Microsoft.CodeDom.Providers.DotNetCompilerPlatform package via Nuget on our asp.net website (not web application, not MVC, not .NET Core... website) does not work.

The roslyn directory is not added to Bin
the web.config is not appropriately updated*

*when updating the 2.0 package to the 3.6.0 package, it actually removed the system.codedom -> compilers -> compiler sec

[2020-12-11 14:23] fredericDelaporte commented on #118
I only have the DotNetCompilerPlatform package in my .Net 4.8 project and I already have that mismatch. On dynamically compiled .cs files, the VS IDE suggests me latest syntax changes, whatever the value of langversion in the csproj or the web.config. And without fiddling with the `/langversion:default` setting in web.config codedom registration, it was actually working up to c#8, while the static

[2020-12-11 18:27] StephenMolloy commented on #118
@fredericDelaporte, you mention a csproj file. Is this a web application, or some other type of C# project?

[2020-12-13 18:38] fredericDelaporte commented on #118
It is a web application csproj, old format of csproj (not sdk style).

[2020-12-15 10:55] cmlr72 commented on #117
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider needs a constructor that takes an IDictionary<string, string>.

See [CompilerInfo.CreateProvider source](https://referencesource.microsoft.com/system/R/82a2a7298c77e613.html)

[2020-12-26 18:28] khellang commented on #118
It would indeed be awesome with a new release with support for C# 9. Right now we're running our entire .NET Framework project on C# 8 (with our own polyfilled types) with no issues. We've been holding back the `LangVersion` switch on the project while waiting for an updated CodeDom provider for the aspx files for the reasons @fredericDelaporte mentions 😊

[2020-12-27 17:39] precisioninfinity opened #120 "When using MSBuild command line from buildserver without VS, the Roslyn files are not copied to the bin folder"
I have included a workaround for this below but first the problem (which might be related to others reporting something similar but this ticket has been opened with more details specific to this actual problem).

The project builds and works fine in VS but on the buildserver, even though it pulls in the nuget package fine, it never runs the required target to copy the compiler files.

I have a bui

[2021-01-28 11:11] JackCoplandGranta opened #121 "License inconsistencies"
The license listed in the project root and in comments at the top of several files is MIT.
But, [in the nuspec](https://github.com/aspnet/RoslynCodeDomProvider/blob/master/src/Packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.nuspec), and so also for the nuget package, a "Microsoft .Net Library" license is linked to.

What license is thi

[2021-03-05 06:59] StephenMolloy opened #122 "Rename default branch to 'main'"
For more details, see the earlier announcement from dotnet. (dotnet/announcements#172)

[2021-03-05 07:06] StephenMolloy commented on #122
Done

[2021-03-05 07:06] #122 closed

[2021-04-09 09:58] edika99 commented on #57
same here only for bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll on Visual Studio 2017 on webform project in c#

[2021-04-20 08:53] dmce commented on #98
Appreciating this is older, its still an issue with the latest Umbraco which has a dependency Microsoft.CodeDom.Providers.DotNetCompilerPlatform (>= 2.0.1 && < 2.999999.0) so you have to use 2.0.1

A fresh nuget install doesnt add the roslyn folder. I think there are a couple of ways around, like cleaning and unloading project etc, but you can `Update-Package Microsoft.CodeDom.Providers.DotNetComp

[2021-05-05 12:10] jitterbox commented on #84
The same issue still exists after upgrading project fully to .NET 4.8 **and** updating the Microsoft.CodeDom.Providers.DotNetCompilerPlatform package to the latest 3.6.0.
@StephenMolloy is there anything that can be done, and does this really represent a vulnerability in the runtime application?

![image](https://user-images.githubusercontent.com/6708273/117138526-23e83280-ad79-11eb-9096-7fbb3ef3e

[2021-10-12 18:39] christiansita opened #123 "Microsoft.CodeDom.Providers.DotNetCompilerPlatform version 3.6.0 contains a vulnerable library System.Net.Http"
According to https://github.com/aspnet/Announcements/issues/239, there is an **Elevation of Privilege** vulnerability with **System.Net.Http** library version **4.1.1**. But, the latest version of **Microsoft.CodeDom.Providers.DotNetCompilerPlatform** library contains the vulnerable System.Net.Http at this location **tools/Roslyn46/System.Net.Http**. Is it possible to have System.Net.Http upgraded

[2021-12-01 09:49] Sharpe49 commented on #121
Every file seems to contain reference to the MIT license. So in the NuSpec file, the license should be MIT also.

[2021-12-01 10:37] stevenvolckaert opened #125 ""Access to the path 'Microsoft.CodeAnalysis.CSharp.dll' is denied" error when deleting bin\roslyn directory in a release pipeline after stopping IIS application pool"
Hello!

We're using [Microsoft.CodeDom.Providers.DotNetCompilerPlatform v3.6.0](https://www.nuget.org/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/) in a number of our ASP.NET Web Forms and ASP.NET MVC 5 applications, and it works well.

We deploy these applications with Azure DevOps Pipelines, and just before it deploys, the pipeline stops the IIS application pool, deletes all item

[2021-12-03 17:29] jimbobmcgee opened #126 "Install bin/roslyn files to a central location"
Is there any way to install the files that would normally be copied to bin/roslyn to a central location and have the ASP.NET view compilation invoke the centrally-installed version, instead of trying to invoke from ~/bin/roslyn?

We are seeing a on-the-fly view compilation issue, where our AV appears to be crashing the VBCSCompiler.exe and/or csc.exe.

We are happy to exclude these two executables

[2021-12-04 13:28] CZEMacLeod commented on #126
@jimbobmcgee  If you look at the documentation on [configuration](https://github.com/aspnet/RoslynCodeDomProvider#Configurations) it pretty much tells you how to do what you want.
Adding a `System` level Environment variable `ROSLYN_COMPILER_LOCATION` pointing to the location of the roslyn compiler.
You need to manually copy the contents of bin/roslyn to that location, but it will then be used for

[2021-12-04 14:04] jimbobmcgee commented on #126
That's great to know. I was hoping my Devs might have found this out for themselves, but it is good to have the confirmation from you.

Has this been a feature for all versions, or would this only be a recent addition?

And would this support, for example, two applications in different websites, running different versions of the MS.CodeDom... package?

[2021-12-04 19:07] CZEMacLeod commented on #126
@jimbobmcgee Not sure when it was added - looks like April 2020, so version 3.5 of the package.
As the documentation says, setting the environment variable forces all applications to use Roslyn from that location. If the installed application was using an older version of the package, the CodeDom provider won't look at the variable though.
It looks like version 2.0 onwards support the app setting

[2021-12-14 09:54] stevenvolckaert commented on #125
Hello, is anyone listening? Thank you!

[2021-12-15 23:12] CZEMacLeod commented on #125
@stevenvolckaert We use a very similar approach - although we don't use a script, just the flag in the deploy step to remove any files not matched in the zip file. `RemoveAdditionalFilesFlag`
The other thing is we stop the site first, then the pool, then deploy.
I am not aware of ever having an issue with this setup.
I don't believe csc.exe or vbc.exe would be running if the application pool is st

[2021-12-16 07:39] stevenvolckaert commented on #125
Hi @CZEMacLeod! Thanks for your suggestions, I'll try them out.

[2022-01-17 09:31] Mattzard commented on #84
I am in the same position as user jitterbox above, the issue is still present in the stated versions.

[2022-02-18 16:33] TobiasWenzel commented on #123
Same issue here. WhiteSource reports vulnerabilites in Pull requests Microsoft.CodeDom.Providers.DotNetCompilerPlatform 3.6.0 and there is no later version of it.

Probably the same issue is #84. Unfortunately it was already closed and users are left behind with confusion.
The only remark from Microsoft is from 2019: https://github.com/aspnet/RoslynCodeDomProvider/issues/84#issuecomment-552037345

[2022-02-20 09:23] ondrejpialek commented on #98
I wonder if the issues could be caused by the fact that the imported props file does not exist yet during initital build, before any NuGet packages are downloaded. Notice the Exists condition - the project will load fine but will not include the props if they are not downloaded and present in the `packages` folder.

[code]

When I do the following sequence of steps I end up with a functional websi

[2022-03-02 21:01] #126 closed

[2022-03-10 07:05] WolfgangHG commented on #113
Just want to bring back attention to this issue. Are there any plans to repair this?

[2022-03-10 08:17] StephenMolloy commented on #120
Wow, so this is an old one. I'm struggling to see how you might be going wrong here though. `SetRoslynCompilerFiles` doesn't
actually cause anything to be copied. It just gets a list of files to copy, but doesn't even know where to copy them. The
`CopyRoslynCompilerFilesToOutputDirectory` target does the copying, and it is set up to run after `CopyFilesToOutputDirectory` which surely must be runni

[2022-03-11 00:35] StephenMolloy commented on #117
I was confused by this at first, but I think you'll find that this does indeed repro with the v1 package as well. In all likelihood, you don't have the providers from this package wired up in config. I didn't investigate why that didn't happen for me since v1.X is very long ago and won't be updated... but when I installed those old packages for a repro, they didn't update my config for whatever re

[2022-03-13 20:41] WolfgangHG commented on #113
Was this fixed by #131 ?

[2022-03-16 07:13] StephenMolloy opened #137 "XDT creates inconsistent line endings"
Seems that in some circumstances, the XDT transforms used upon package install/uninstall can leave inconsistent
line endings in the config file which results in a dialog being popped up by VS which isn't a great experience. Especially
since that dialog doesn't give much insight into why the line endings are inconsistent. (The scenario is when there are
multi-line comments in the config file btw.)

[2022-03-17 11:54] CZEMacLeod commented on #137
I'm not sure about uninstall/cleanup - but I would be much happier with a build task making the changes to web.config/app.config based on the current package version, and if required then adding some documented properties that can be included in the project file.
The install.ps1 and/or xdt approach are not very reliable, and are already 'fragile'. Making it work for PackageReference and legacy pac

[2022-03-17 18:15] StephenMolloy commented on #137
We obviously use build tasks to copy the roslyn binaries into the output. But web/app.config updates are a little different. If registering the providers with default options was the only concern, then a build task would be the obvious way to go. I think this was part of the idea behind packageReference getting rid of install.ps1 and XDT transforms - that nuget packages should only be distributing

[2022-04-01 22:19] StephenMolloy commented on #121
Fixed with #129 and #138

[2022-04-01 22:19] #121 closed

[2022-04-01 22:36] StephenMolloy commented on #125
Unfortunately, we don't have a lot of control over the VBCSCompiler process. In an msbuild environment, we have a target to try and kill it before trying to re-copy the roslyn files to the output directory. But at runtime or in a release pipeline that approach doesn't work. You could always experiment with changing the TTL of the roslyn compiler server. There are instructions on the main page of t

[2022-04-01 22:37] #117 closed

[2022-04-01 22:40] StephenMolloy commented on #113
Between #130 and #131 I think this should be resolved now. Please reopen if it's still an issue.

[2022-04-01 22:40] #113 closed

[2022-04-01 22:40] StephenMolloy commented on #114
#130

[2022-04-01 22:40] #114 closed

[2022-04-01 22:43] StephenMolloy commented on #120
I think this was an OutDir issue. Possibly fixed by #130? Please reopen if this is still an issue with the latest preview.

[2022-04-01 22:43] #120 closed

[2022-04-01 22:49] StephenMolloy commented on #119
Sounds like either the install.ps1 script didn't run for some reason, or it failed.

Web _sites_ are not msbuild friendly. We try to paper over that fact with the install script. It had a couple bugs in 3.6 which are hopefully fixed now? I don't know which one in particular would have caused your situation.

Does this still repro with the latest preview? If so, can you strip your solution down to

[2022-04-01 22:53] StephenMolloy commented on #115
For the WPF app, the package has traditionally been focused on web apps and sometimes gets things wrong with non-web apps. This might be alleviated with #131.

Also, in either case, this could be an $(OutDir) issue which has been more common with CI/msbuild machines vs VS environments. This is hopefully fixed by #130.

Please reopen if this is still an issue with the latest preview.

[2022-04-01 22:53] #115 closed

[2022-04-01 23:03] StephenMolloy commented on #98
I can only refer back to this comment here: https://github.com/aspnet/RoslynCodeDomProvider/issues/98#issuecomment-656335348

Web "Sites" are at an inherent disadvantage and are being increasingly phased out. Even our attempts to work around
the issues we have with them not being msbuild-compatible are being challenged by nuget moving closer to msbuild
and away from package scripting. This particu

[2022-04-01 23:03] #98 closed

[2022-04-04 06:49] stevenvolckaert commented on #125
Thank you all for your suggestions.

We haven't encountered this issue any more in the last three months. I'm hereby closing this issue.

[2022-04-04 06:49] #125 closed

[2022-04-07 06:47] WolfgangHG opened #139 "Updating to 3.11-preview1 fails"
Use the sample attached to #113 (it is a 4.6.1 project), compile it and update the Nuget package to 3.11-preview1.

This fails for me with an error:
`The package at '...\RoslynTest\packages\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.3.6.0' failed to uninstall. Restart Visual Studio to finish the process.`

![nugetupdate](https://user-images.githubusercontent.com/138049/162137086-d07fddf3-5

[2022-04-07 06:48] WolfgangHG commented on #113
I can confirm that it works now.

[2022-04-07 20:04] WolfgangHG commented on #139
And what about the error when the project is switched to 4.8 before updating the package? Here, the package is updated after migration, but the DLL is also locked before.

[2022-04-09 09:12] WolfgangHG commented on #139
Disabling all third party extensions and the virus scanner did not make a change.

But I think I have an explanation now: the problem seems to be caused by the fact that my sample zip does not contain the subdir "packages".
The error message can be reproduced with those steps:
a) unzip my sample and open solution
b) compile (directory "packages" is created)
c) update "Microsoft.CodeDom.Providers.D

[2022-04-09 09:12] #139 closed

[2022-04-12 05:26] StephenMolloy commented on #139
My apologies. My reading comprehension was not very good last week apparently. :( You did have a repro project and steps laid out and I missed it.

Anyway, looking closer at this today, I can see what's going on now. In your case, msbuild.exe (spawned by VS when you build) has loaded our build tasks dll (introduced in 3.6 because inline 'CodeTaskFactory' is not supported by 'dotnet msbuild' which

[2022-04-12 19:11] WolfgangHG commented on #139
Thanks for the detailed analysis!

Yes, "PackageReferences" would be preferred, but just for the recoed: it does not work for old style Web projects.

[2022-04-15 23:03] StephenMolloy commented on #114
#130 actually made a bit of a mess. #141 should be better.

[2022-04-30 14:06] nexon33 opened #142 "How to compile code using .net framework 4.8?"
I have some code that needs to be compiled dynamically to .net framework 4.8. I added the package and have the following code. (I'm using **using Microsoft.CodeDom.Providers.DotNetCompilerPlatform;**)

`
private void Form1_Load(object sender, EventArgs e)
        {
            string code = File.ReadAllText(@"C:\Users\adria\Downloads\rest.dll.amsibypass");
            string[] referencedAssemblies

[2022-04-30 15:05] #142 closed

[2022-04-30 15:35] WolfgangHG commented on #142
This should be fixed by the new version 3.11 (see #113), which is hopefully released soon.

Meanwhile, you can work around it by adding this to "app.config":
`<appSettings>
 <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
 </appSettings>`

[2022-07-07 23:22] khellang opened #143 "Allow overriding version through MSBuild property"
Hello @StephenMolloy! 👋

How's the 3.11 version coming along?

Would it be possible to include an easy way to set the desired compiler version through an MSBuild property?

By conditionally setting the following properties, only if they haven't already been set, you could allow users that want to wander "off the beaten track" to override the compiler version in order to use newer compiler/language

[2022-08-25 18:04] MattBussing opened #144 "Releasing 3.11.0 and 4.1.0"
@StephenMolloy , first, thanks for keeping this updated!

Second, are there any plans to release 3.11.0 and 4.1.0 (make them no longer prerelease/preview)? What would the ETA be?
<img width="547" alt="image" src="https://user-images.githubusercontent.com/31907187/186737246-c5f4e3af-8ffd-42c9-af03-cd6dc01185eb.png">

[2022-10-26 05:43] yuessir opened #145 "4.1.0-preview1 This package may not be fully compatible with your project."
Package 'Microsoft.CodeDom.Providers.DotNetCompilerPlatform 4.1.0-preview1' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8, .NETFramework,Version=v4.8.1' instead of the project target framework 'net6.0'. This package may not be fully compatible with yo

[2022-10-26 06:10] WolfgangHG commented on #145
To my understanding, "Microsoft.CodeDom.Providers.DotNetCompilerPlatform" is not compatible to .NET6.
The reason is simple: it relies on "vbc.exe" and "csc.exe" to do the compilation. As this exe does not exist in the roslyn packages for .NET6, this package cannot be made compatible to .NET6.

So, to do an "on the fly compilation" in your own project, you would have to use Roslyn directly. I follo

[2022-10-26 11:12] #145 closed